.vs/
packages/
bin/
obj/


Sandy.Net/bin/Debug/Sendy.Net.dll
Sandy.Net/bin/Debug/Sendy.Net.pdb

Momentarily.ViewModels.pdb
Momentarily.ViewModels.dll
Momentarily.ViewModels.pdb
Momentarily.ViewModels.dll
Sandy.Net/bin/
Momentarily/Momentarily.ViewModels/bin/
Momentarily/Momentarily.ViewModels/obj/

Sandy.Net/obj/
Apeek.ViewModels.pdb
Apeek.ViewModels.dll
Apeek.Entities.pdb
Apeek.Entities.dll
Apeek.NH.Repository/obj/
Apeek.ViewModels/bin/
Apeek.NH.Repository/bin/
Apeek.Web.API/bin/
Apeek.Web.API/obj/
Apeek.ViewModels/obj/
Apeek.NH.DataAccessLayer/obj/
Apeek.NH.DataAccessLayer/bin/
Apeek/bin/
Apeek.Entities/obj/
Apeek.Core/bin/
Apeek.Messaging/bin/
Apeek.Common/bin/
Apeek/obj/
Apeek.Common/obj/
Apeek.Core/obj/
Apeek.Messaging/obj/
Apeek.Entities/bin/

Doodja/Doodja.Web/bin/
Doodja/Doodja.Web/obj/
Doodja/Doodja.Web/log.txt
Doodja/Doodja.ViewModels/obj/
Doodja/Doodja.ViewModels/bin/
Doodja/Doodja.UI.Service/obj/
Doodja/copy/Doodja.Web/obj/
Doodja/copy/Doodja.Web/bin/
Apeek.WEB/obj/
Apeek.WEB/bin/
Apeek.Web.Framework/bin/
Doodja/Doodja.UI.Service/bin/
Doodja/copy/Doodja.Web/packages.config
Doodja/copy/Doodja.Web/app.config
Doodja/copy/
Apeek.Web.Framework/obj/
apeek-17-11-15.sql
Doodja/Doodja.Entities/obj/
/conn.txt
Apeek.WEB/log.txt
Doodja.Web.API/obj/
Tests/Apeek.Test/bin/
Tests/Apeek.Test/obj/
Tests/Apeek.Test.Common/obj/
Tests/Apeek.Test.Common/bin/
Doodja/Doodja.Common/bin/Debug
Doodja/Doodja.Common/obj/Debug
Doodja/Doodja.Entities/bin/Debug
Doodja.Web.API/bin
Doodja/Doodja.Web.API/bin
Doodja/Tests/Doodja.Test/bin/Debug
Doodja/Tests/Doodja.Test/obj/Debug
Doodja/Doodja.Web.API/obj/Debug
Doodja/Tests/Doodja.Test/bin
Doodja/Doodja.Web/Content/Images/Good
Doodja/Doodja.Web/Content/Images/User


Apeek.v12.suo
Vprostir/Vprostir.Web.API/bin/
Vprostir/Vprostir.Web.API/obj/
Vprostir/Vprostir.ViewModels/obj/
Vprostir/Vprostir.ViewModels/bin/
Vprostir/Vprostir.Web/bin/
Vprostir/Vprostir.NH.Repository/bin/
Vprostir/Vprostir.NH.Repository/obj/
Vprostir/Vprostir.UI.Service/bin/
Vprostir/Vprostir.Web/obj/
Vprostir/Vprostir.UI.Service/obj/
Vprostir/Vprostir.Entities/obj/
Vprostir/Vprostir.Entities/bin/
Vprostir/Vprostir.Common/bin/
Vprostir/Vprostir.Common/obj/
Doodja/Doodja.Common/bin
Doodja/Doodja.Common/obj
Doodja/Doodja.Entities/bin
Doodja/Doodja.Web.API/obj
Doodja/Tests/Doodja.Test/obj
Doodja/Utils/EventManager/Doodja.EventManager/bin
Doodja/Utils/EventManager/Doodja.EventManager/obj
Doodja/Utils/EventManager/Doodja.Cron/obj
Doodja/Utils/EventManager/Doodja.AzureWorkerRole1/bin
Doodja/Utils/EventManager/Doodja.AzureWorkerRole1/csx/Release
Doodja/Utils/EventManager/Doodja.AzureWorkerRole1/obj
Doodja/Doodja.NH.Repository/bin
Doodja/Doodja.NH.Repository/obj
Doodja/Utils/EventManager/Doodja.WorkerRole1/bin
Doodja/Utils/EventManager/Doodja.WorkerRole1/obj
Doodja/Blog/BlogEngine/BlogEngine.Core/bin/Debug
Doodja/Blog/BlogEngine/BlogEngine.Core/obj/Debug
Doodja/Blog/BlogEngine/BlogEngine.NET/bin
Doodja/Blog/BlogEngine/BlogEngine.NET/obj/Debug

Doodja/Blog/BlogEngine/BlogEngine.Tests/obj/Debug
Doodja/Blog/BlogEngine/BlogEngine.Tests/bin/Debug
Doodja/PinPayments
Doodja/Utils/EventManager/Doodja.Cron/bin/Debug

Vprostir/Vprostir.Web
.vs/config/applicationhost.config
.vs/Apeek/v14/.suo
.vs/Momentarily/v15/Server/sqlite3/db.lock
Momentarily/Momentarily.Common/bin
Momentarily/Momentarily.Common/obj
Momentarily/Momentarily.Core/bin
Momentarily/Momentarily.Core/obj
Momentarily/Momentarily.Entities/bin
Momentarily/Momentarily.Entities/obj
Momentarily/Momentarily.NH.Repository/bin
Momentarily/Momentarily.NH.Repository/obj
Momentarily/Momentarily.UI.Service/bin
Momentarily/Momentarily.UI.Service/obj
Momentarily/Momentarily.Web/bin
Momentarily/Momentarily.Web/obj
Momentarily/Momentarily.Web.API/bin
Momentarily/Momentarily.Web.API/obj
Momentarily/PinPayments/bin
Momentarily/PinPayments/obj
Momentarily/Tests/Momentarily.Test/bin
Momentarily/Tests/Momentarily.Test/obj
Momentarily/Utils/EventManager/Momentarily.Cron/bin
Momentarily/Utils/EventManager/Momentarily.Cron/obj
Momentarily/Utils/EventManager/Momentarily.EventManager/bin
Momentarily/Utils/EventManager/Momentarily.EventManager/obj
Momentarily/Utils/EventManager/Momentarily.WorkerRole1/bin
Momentarily/Utils/EventManager/Momentarily.WorkerRole1/obj
Momentarily/Momentarily.Web/Content/Images/Good
.vs/Momentarily/v14/.suo
MaidzApp/MaidzApp.Common/obj/Debug
MaidzApp/MaidzApp.Core/obj/Debug
MaidzApp/MaidzApp.Entities/obj/Debug
MaidzApp/MaidzApp.NH.Repository/obj/Debug
MaidzApp/MaidzApp.ViewModels/obj/Debug
MaidzApp/MaidzApp.Web/bin
MaidzApp/MaidzApp.Web/obj/Debug
MaidzApp/MaidzApp.Web.API/bin
MaidzApp/MaidzApp.Web.API/obj/Debug
Sandy.Net/obj
Sandy.Net/bin
Momentarily/Momentarily.ViewModels/bin
Momentarily/Momentarily.ViewModels/obj


Momentarily/Momentarily.Web/Content/Images/Good
Momentarily/Momentarily.Web/Content/Images/User
Momentarily/BraintreePayments/bin/Debug
Momentarily/BraintreePayments/obj/Debug

