@{
    Layout = "~/Areas/Frontend/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    <div class="content">
        <div class="container-full">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 sign-in-page">
                    <div class="title-block2">
                        <h1>RESET YOUR PASSWORD</h1>
                    </div>
                    <div class="form-block">


                        <p class="messageOops">
                            <span class="Oops">Oops!</span> The link you tried to use has expired.<br />
                            @*<span style="color:#cf2d1e;">@Shape.Message</span>*@


                            Want another Link? <a href="/account/RestorePwd">Click here to try again.</a>
                        </p>


                    </div>
                </div>
            </div>
        </div>
    </div>
}

@Scripts.Render("~/Scripts/Libs/jquery")

<script>
    $(document).ready(function () {
        $('body').css('background', '#fefefe');
    })
</script>
