@{
    Layout = "~/Areas/Frontend/Views/Shared/_Layout.cshtml";
}

<div class="content terms mainClass">
    <div class="container">
        <div class="row">
            <div class="col-md-12 background-container">
                <h1>
                    Terms and Conditions
                </h1>
                <p>
                    Welcome to <b><i>momentarily!</i></b> By accessing or using our site, application or services, you are indicating that you have read and understood
                    the following terms and conditions and agree to be bound by them whether or not you have registered with the site or application.
                    All rentals made available by our members (hereinafter called "Owner") to other registered members (hereinafter called "Borrower") are
                    subject to the Terms and Conditions below.
                    Borrower's acceptance of these Terms and Conditions shall be made by either (a) Borrower electronically agreeing to the rental terms or (b) Borrower's
                    acceptance of any equipment from Owner, whichever occurs first.If you do not agree to these Terms, you have no right to obtain information from or otherwise
                    continue using <b><i>momentarily</i></b>.  Failure to use our Services in accordance with these Terms may subject you to civil and criminal penalties.
                    If you are accepting these Terms on behalf of another individual or entity, you represent and warrant that you have the authority to bind that
                    individual or entity to these Terms and, in such event, "you" and "your" will refer and apply to that company or other legal entity.


                </p>
                <ol>
                    <li>
                        <h3> KEY TERMS </h3>
                        <ul>
                            <li>
                                "Content" means text, graphics, images, music, software (excluding the Application), audio, video, information, and any other content or materials.
                            </li>
                            <li>
                                "Borrower" means a Member who requests a booking of an item via <b><i>momentarily</i></b>.
                            </li>
                            <li>
                                "Owner" means a person who creates and manages a Listing via <b><i>momentarily</i></b>, is responsible for approving rentals,
                                checking in or out a Borrower, or responding to messages on the website. The Owner is either the sole Owner of the item(s)
                                being listed or has the consent to rent items to the Borrower.
                            </li>
                            <li>"Listing" means an Item that is listed by an Owner as available for rental via <b><i>momentarily</i></b>.</li>
                            <li>
                                "Member" means a person who completes an account registration process, including, but not limited to Owners and Borrowers, as described under <b>"Account Registration"</b> below.
                            </li>
                            <li>
                                "Member <b>Content</b>" means all Content that a Member posts, uploads, publishes, submits or transmits to be made available through the Services.
                            </li>
                            <li>
                                <b>"Tax"</b> or <b>"Taxes"</b> mean any sales taxes, goods and services taxes (GST) and other similar municipal, state and federal indirect or other with holding and
                                personal or corporate income taxes.
                            </li>
                            <li>
                                "Rental commencement" is the date and time at which possession of the item is to be transferred from Owner to Borrower.
                            </li>
                            <li>
                                "<b><i>momentarily</i></b>" refers to all content, made available through the Site, Application or Services, including any Content licensed from a third party, but excluding Member Content. 
                            </li>

                        </ul>
                        <h3>GENERAL</h3>
                        <p>
                            Our services comprise an online platform through which Owners may create listings for items to rent and Borrowers may learn about and rent items.
                            You understand and agree that <b><i>momentarily</i></b> is not a party to any agreements entered into between Owners and Borrowers, nor is <b><i>momentarily</i></b> an item broker,
                            agent or insurer.  <b><i>momentarily</i></b> has no control over the conduct of Owners, Borrowers and other users of the site, application, and services or any items,
                            and disclaims all liability in this regard.
                        </p>
                        <h3>MINIMUM AGE</h3>
                        <p>
                            Our Services are intended solely for persons who are at least 18 years old. Any access to or use of the Services by anyone under 18 years old is expressly prohibited. By accessing or using the Services you represent and warrant that you are at least 18 years old.
                        </p>
                        <h3>HOW OUR SERVICES WORK</h3>
                        <p>
                            <b><i>momentarily</i></b> makes available a platform or marketplace with related technology for Borrowers and Owners to meet online
                            and arrange for bookings of Items.  We are not an Owner or operator of items – our services are
                            intended to be used to facilitate the booking of items.   <b><i>momentarily</i></b> cannot and does not control the content contained in
                            any listings and the condition, legality or suitability of any item.   <b><i>momentarily</i></b> is not responsible for and disclaims any and
                            all liability related to any and all listings and items.  Accordingly, all bookings (rentals) are made at the Borrower's and Owner's own risk.
                        </p>
                        <h3>ACCOUNT REGISTRATION</h3>
                        <p>
                            In order to book an Item or create a Listing, you must register to create an account and become a Member.  If you create or use an account on behalf of a business entity,
                            you represent that you are authorized to act on behalf of such business and bind the business to this User Agreement.  No agency, partnership, joint venture, employee-employer
                            or franchiser-franchisee relationship is intended or created by this User Agreement.
                            You can also register to join by logging into your account with certain third-party social networking sites ("TPA").
                        </p>

                        <h3>
                            LIMITATIONS
                        </h3>
                        <p>
                            By accessing <b><i>momentarily</i></b>, you agree NOT to
                        </p>
                        <ul>
                            <li>
                                Use <b><i>momentarily</i></b> to forward traffic to other sites
                            </li>
                            <li>
                                Conduct transactions outside of momentarily
                            </li>
                            <li>
                                Utilize data for financial gain
                            </li>
                        </ul>
                        <p>
                            <b><i>momentarily</i></b> may change, suspend or discontinue any aspect of the Site and/or Services at any time, including the availability of any feature, database or content. <b><i>momentarily</i></b> may also impose limits on certain features and services or restrict your access to parts or all of the Site and/or Services without notice or liability. 
                        </p>

                        <h3>THIRD PARTY ACCOUNT</h3>
                        <p>
                            As part of the functionality of the Services, you may link your <b><i>momentarily</i></b> account with Third Party Accounts, by either: (i) providing your Third Party Account login information to <b><i>momentarily</i></b> through the Services; or (ii) allowing <b><i>momentarily</i></b> to access your Third Party Account, as is permitted under the applicable terms and conditions that govern your use of each Third Party Account.
                        </p>
                        <p>
                            You warrant that you are entitled to disclose your Third Party Account login information to <b><i>momentarily</i></b> and/or grant us access to your Third Party Account. By granting us access to any Third Party Accounts, you understand that we will access, make available and store any Content that you have provided to and stored in your Third Party Account.
                        </p>

                        <h3>
                            PROHIBITED ITEMS
                        </h3>
                        <p>
                            The following types of items are not allowed on <b><i>momentarily</i></b> and include, but are not limited to: anything illegal, counterfeit goods, dangerous products
                            (that can cause harm), and things that enable dishonest behavior.
                            Placement of these types of items on <b><i>momentarily</i></b> may result in the items being removed and the Owner banned from the site.
                        </p>

                        <h3>
                            CONDITION OF EQUIPMENT
                        </h3>
                        <p>
                            By listing items available for rent, the Owner warrants that they are the sole Owner of the equipment or that they have the full agency
                            or authority to enter into this Agreement.  It is the Owner’s responsibility to ensure that all items have been accurately described on  <b><i>momentarily</i></b> and are
                            in Good Working Condition: they have been properly
                            maintained and no defects exist that would prohibit the proper functionality of the listed equipment.
                        </p>
                        <p>
                            Borrower is responsible for reading the full item listing before committing to rent.  When the Borrower receives the rented item,
                            they must examine the equipment and declare that it has received all of such equipment in Good Working Condition.  Borrower's failure to object
                            in writing to the condition of the equipment within 6 hours after receipt thereof shall be deemed conclusive that all of the equipment was in good working
                            order when delivered.
                        </p>

                    </li>
                    <li>
                        <h3>MEMBER CONTENT and USE OF SERVICE</h3>
                        <p>
                            You shall not transmit, submit, or post the following to our Services:
                        </p>
                        <ul>
                            <li>Information that infringes our or any third party's copyright, patent, trademark, trade secret or other proprietary rights;</li>
                            <li>
                                Information that violates any law, statute, ordinance or regulation;
                            </li>
                            <li>
                                Information that is trade libelous, unlawfully threatening, unlawfully harassing, defamatory, obscene, explicit or vulgar,
                                or otherwise injurious to us or third parties or that infringes on our or any third party's rights of publicity or privacy;
                            </li>
                            <li>
                                Information that contains any viruses, worms, Trojan horses, trap doors, back doors, easter eggs, time bombs, cancel bots or other code or computer
                                programming routines that contain contaminating or destructive properties or that are intended to damage,
                                detrimentally interfere with, surreptitiously intercept or expropriate any system, data or personal information;
                            </li>
                            <li>
                                Information containing or constituting chain letters, mass mailings, political campaigning, or any form of spam;
                            </li>
                            <li>Information that is false, inaccurate or misleading;or</li>
                            <li>
                                Commercial advertisements or solicitations without our written permission;
                            </li>

                        </ul>


                        <p>
                            Pursuant to the Privacy Policy listed on our website, we may review transmissions, submissions or postings made by you to determine, in our sole discretion,
                            your compliance with this Agreement.  Although we do not regularly review your transmissions,
                            submissions, or postings, we reserve the right (but not the obligation) to edit, refuse to post or remove your transmissions, submissions, or postings.
                        </p>
                        <p>
                            You are solely responsible for all your transmissions, submissions or postings (i.e., your own User Generated Content) and the consequences of transmitting.
                        </p>
                        <h3>
                            CANCELLATION
                        </h3>
                        <p>
                            Should an Owner cancel a reservation within 24 hours of rental engagement, you agree that <b><i>momentarily</i></b> may apply penalties or consequences to you and your listing including:
                        </p>
                        <ul>
                            <li>
                                A review can be posted to your listing's profile indicating that you canceled one of your reservations.
                                These reviews can't be removed, but you can always write a public response to clarify why you needed to cancel.
                            </li>
                            <li>
                                Unavailable/blocked calendar: Your calendar will stay blocked and you won't be able to accept another reservation for the same dates of the canceled reservation.
                            </li>
                            <li>
                                Imposing a cancellation fee (to be charged to the credit card on file).  Prior to cancellation, Owner will be notified of such cancellation fees.
                            </li>
                        </ul>
                        <p>
                            If the Borrower cancels a confirmed booking, or <b><i>momentarily</i></b> decides that it is necessary to cancel a confirmed booking,
                            and <b><i>momentarily</i></b> issues a refund to the Borrower in accordance with the Terms of Service or other applicable cancellation policies,
                            you agree that in the event you have already been paid, <b><i>momentarily</i></b> shall be entitled to recover the amount of any such Borrower
                            refund from you, including by subtracting such refund amount out from any future fees due to you.
                        </p>


                        <p>
                            Should a Borrower cancel a reservation, the Borrower agrees that <b><i>momentarily</i></b> will apply penalties or consequences to you and your listing including:
                        </p>
                        <ul>
                            <li>
                               With more than 48 hours advance notice: 
                                <ul>
                                    <li>
                                        Rental fee: 100% refund
                                    </li>
                                    <li>
                                        Delivery fee (if applicable): refunded
                                    </li>
                                    <li>
                                        Service fee: still charged
                                    </li>
                                </ul>
                            </li>
                            <li>
                              Within 24-48 hours advance notice: 
                                <ul>
                                    <li>
                                       	Rental fee: 50 % refund
                                    </li>
                                    <li>
                                        Delivery fee (if applicable): refunded
                                    </li>
                                    <li>
                                        Service fee: still charged
                                    </li>
                                </ul>
                            </li>
                            <li>
                              Within 24 hours advance notice: No refund
                            </li>
                        </ul>


                        <h3>
                            LATE FEES
                        </h3>
                        <p>
                            Should the Borrower fail to return the rental on time (does not apply to late pickup caused by Owner):
                        </p>
                        <ul>
                            <li>
                            Late fees (daily bookings) are charged at two times (2x) the hourly rate with the maximum amount not to exceed the daily rental rate for that specific rental
                            </li>
                            <li>
                             Late fees (weekly bookings) are charged a daily rental rate/day once late 
                            </li>
                            <li>
                             In the rare circumstance that the item has not been returned by the following day, late fees will continue to apply until returned with the maximum amount not to exceed the security deposit total
                            </li>
                            <li>
                              Hourly rate is determined by a 21-hour rental day. 
                                <ul>
                                    <li>
                                        If the rental was $21/day, the hourly rate would be $1/hour 
                                    </li>
                                </ul>
                            </li>
                        </ul>


                    </li>
                    <li>
                        <h3>MODERATION</h3>
                        <p>
                            You agree we may moderate your access and use in our sole discretion, e.g. by blocking (e.g. IP addresses), filtering, deletion, delay,
                            omission, verification, and/or access/account/license termination. You agree (1) not to bypass said moderation, (2) we are not liable for moderating,
                            not moderating, or representations as
                            to moderating, and (3) nothing we say or do waives our right to moderate, or not. All site rules, e.g., are incorporated herein.
                        </p>
                    </li>
                    <li>
                        <h3>
                            TAXES AND OTHER CHARGES.
                        </h3>
                        <p>
                            Owner shall bear applicable federal, state, municipal, and other government taxes (such as manufacturer's tax, retailer's occupation tax,
                            use tax, sales tax, excise tax, duty, custom, inspection or testing fee, etc.). Taxes, fees, or charges of any nature whatsoever imposed by any governmental authority,
                            on or measured by the transaction between Owner and Borrower, are not included in prices shown and must be added in record of Owner.
                        </p>
                    </li>
                    <li>
                        <h3>
                            LIABILITY AND INDEMNITY
                        </h3>
                        <p>
                            Borrower and Owner covenants and agrees to indemnify and hold harmless momentarily free from any and all claims, actions, suits, damages, and liabilities,
                            including attorney’s fees, arising out of, connected with, or resulting from the rented equipment and/or
                            its complementary tools or attachments.  This includes, without limitations, the manufacture, selection, delivery, possession or use of the rented equipment.
                        </p>
                        <h3>
                            SECURITY DEPOSIT
                        </h3>
                        <p>
                            Owners must include a security deposit for the rental of items – it will be posted on each listing.  If an Owner makes a claim against
                            the Security Deposit, <b><i>momentarily</i></b> will in its capacity as the payment collection agent of the Owner, use its commercially
                            reasonable efforts to charge the Borrower’s payment method in the amount of the Security Deposit within a reasonable period of time.
                        </p>
                        <h3>
                            DAMAGE TO ITEMS
                        </h3>
                        <p>
                            The Borrower and those having access to the rental item shall be liable for all damage arising from equipment rental use, misuse/abuse or negligence 
                            of Borrower, including any accidents to persons or property arising thereof.  Normal wear and tear which is defined as the expected decline 
                            in the condition of an item due to normal everyday use is expected and would not be considered damage.
                            In the event an Owner files a claim and provides evidence of damage, including but not limited to photographs, 
                            Borrower agrees to pay the cost of replacing the damaged items.  After being notified of the claim and given forty-eight (48) hours to respond,
                            the payment will be charged to and taken from the security deposit. <b><i>momentarily</i></b> also reserves the right to charge the credit card on file in
                            the Borrower’s account, or otherwise collect payment from the Borrower and pursue any avenues available to <b><i>momentarily</i></b> in this regard.
                            If we are unable to charge the credit card on file or otherwise collect payment from the Borrower, the Borrower agrees to remit 
                            payment for any damage to the Owner.

                        </p>
                        <h3>ARBITRATION</h3>
                        <p>
                            Should any issues arise between the Owner and Borrower, a formal message must be sent immediately notifying the other party of the claim.
                            Both parties have 30 days in good faith to try and resolve said issues.  If after 30 days from the date of claim, both parties are
                            unable to come to a resolution, issues will be left for an arbitrator to decide.  The claimant is responsible for filing an arbitration
                            case  through the American Arbitration Association ("AAA") under its rules and procedures, which are available at www.adr.org. The use of
                            the word "arbitrator" in this provision shall not be construed to prohibit more than one arbitrator from presiding over an
                            arbitration: rather, the AAA's rules will govern the number of arbitrators that may preside over an arbitration conducted under
                            this Agreement to Arbitrate.  The parties agree to reimburse the prevailing party’s reasonable arbitration costs, and all other expenses,
                            whether or not taxable by the court as costs, in addition to any other relief to which the prevailing Party may be entitled.
                        </p>

                    </li>
                    <li>
                        <h3>
                            SUBLETTING
                        </h3>
                        <p>
                            No part of the item rented shall be sublet, transferred or assigned by Borrower or removed from the location at which it was intended by Owner to be used, as represented by
                            Borrower, except with the prior written consent of Owner.
                        </p>
                        <h3>
                            TITLE
                        </h3>
                        <p>
                            Title to the equipment is now and at all times hereafter shall remain and be vested only in the Owner. Borrower shall keep the Borrower’s interest in this
                            agreement and the equipment free from all liens and encumbrances.
                        </p>
                        <h3>
                            AMENDMENTS
                        </h3>
                        <p>
                            <b><i>momentarily</i></b> reserves the right to update or amend these terms or fees at any time and without prior notice.
                            Should <b><i>momentarily</i></b> modify these terms, information about the modification will either be posted on the site or otherwise
                            provide you with notice of the modification.  By continuing to use the site after <b><i>momentarily</i></b> has posted any modifications,
                            you are indicating that you agree to be bound by the modified Terms.
                            It is the user’s responsibility to check back so that you are aware of any changes made to these terms.
                        </p>
                        <h3>
                            GOVERNING LAW
                        </h3>
                        <p>
                            This Contract shall be governed by, and construed under the laws of the State of California.  The user agrees and consents to the exclusive
                            jurisdiction of the courts of the State of California for all purposes
                            regarding this Contract and further agrees and consents that venue of any action brought hereunder shall be exclusively in the County of Los Angeles.
                        </p>
                        <h3>
                            SERVICE FEES
                        </h3>
                        <p>
                            In consideration for the use of <b><i>momentarily's</i></b> online marketplace and platform, we charge Service Fees.  Where applicable,
                            Taxes may also be charged in respect of the Owner Fees and Borrower Fees.
                            Except as otherwise provided herein, Service Fees are non-refundable.
                        </p>
                      
                        <ul>
                        
                            <li>
                               Current fees as of 03/01/20
                                <ul>
                                    <li>
                                      Borrower:
                                        <ul>
                                            <li>
                                                Service fee: 11% of the item rental ($2 minimum charge)
                                            </li>
                                            <li>
                                               Charity fee: 1% 
                                            </li>
                                        </ul>
                                    </li>
                                </ul>

                                <ul>
                                    <li>
                                        Owner:
                                        <ul>
                                            <li>
                                                Service fee: 7% of the item rental
                                            </li>
                                            <li>
                                                Charity fee: 1%
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>


                        <h3>MISCELLANEOUS RENTAL INFORMATION</h3>
                        <ul>
                            <li>
                                Returning an item early does not reduce the cost of rental (not prorated to a reduced total cost)
                            </li>
                            <li>
                                The number of hours for a daily booking is 21 hours – this gives the Owner enough time to receive the rented item and get it ready to rent out the next day.
                            </li>
                            @*<li>
                                If an Owner rents an item to someone on 11/20 to 11/21 and someone else from 11/21 to 11/22, and the 11/20 rental item is returned late, the Owner needs to cancel the 11/21 to 11/22 booking.
                                The Owner will be compensated by the Late Fees charged to the Renter who returned the item late.(IF APPLICABLE) that late fees will also be charged against the security deposit.
                            </li>*@
                        </ul>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
