@{
    ViewBag.Title = "_AccountMenuLayout";
    Layout = "~/Areas/Frontend/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/bundles/cssAccount")
<div class="account-menu mainClass">
    <div class="container">
        <div class="row">

        </div>
    </div>
    @RenderBody()
</div>
      

