@{
    Layout = "~/Areas/Frontend/Views/Shared/_AdminDashboardLayoutNew.cshtml";
    @section meta
    {
        <meta property="title" content="@ViewBag.Title" />
        <meta property="description" content="@ViewBag.Description" />
    }
}

@Styles.Render("~/bundles/cssAccount")
<div class="account-menu mainClass">

</div>

