

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="#">
    <meta name="keywords" content="Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="#">
    @Styles.Render("~/bundles/adminCss")
    <link href="~/AdminContent/Admity/css/fonts.googleapis.stylesheet.css" rel="stylesheet" />
    @RenderSection("meta", required: false)
    <link rel="icon" type="image/ico" href="~/Content/Img/favicon.ico">

</head>
<body>

    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            <nav class="navbar header-navbar pcoded-header">
                <div class="navbar-wrapper">
                    <div class="navbar-logo">
                        <a class="mobile-menu" id="mobile-collapse" href="#!">
                            <i class="feather icon-menu"></i>
                        </a>
                        <a href="/AdminDashboard/Index">
                            <img class="img-fluid" src="/Content/Img/logo-big.png" alt="image" />
                            <span>momentarily</span>
                        </a>
                        <a class="mobile-options">
                            <i class="feather icon-more-horizontal"></i>
                        </a>
                    </div>
                    <div class="navbar-container container-fluid">
                        <ul class="nav-left">

                            <li>
                                <a href="#!" onclick="if (!window.__cfRLUnblockHandlers) return false; javascript:toggleFullScreen()" data-cf-modified-e961f3cdcf6a31aed4aa72d2-="">
                                    <i class="feather icon-maximize full-screen"></i>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav-right">



                            <li class="user-profile header-notification">
                                <div class="dropdown-primary dropdown">
                                    <div class="dropdown-toggle" data-toggle="dropdown">
                                        <img src="~/Content/Img/logo-big.png" class="img-radius" alt="User-Profile-Image">
                                        <span>Admin</span>
                                        <i class="feather icon-chevron-down"></i>
                                    </div>
                                    <ul class="show-notification profile-notification dropdown-menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">

                                        <li>
                                            <a href="/AdminDashboard/AdminPwd">
                                                <i class="feather icon-lock"></i> Change Password
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/admin/LogOut">
                                                <i class="feather icon-log-out"></i> Logout
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                   
                    <nav class="pcoded-navbar">
                        <div class="pcoded-inner-navbar main-menu">

                            <ul class="pcoded-item pcoded-left-item">
                                <li>
                                    <a href="/AdminDashboard/Index">
                                        <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                                        <span class="pcoded-mtext">Dashboard</span>
                                    </a>
                                </li>

                            </ul>

                            <ul class="pcoded-item modules pcoded-left-item">
                                <li class="pcoded-hasmenu moduleshasmenu">
                                    <a href="javascript:void(0)">
                                        <span class="pcoded-micon"><i class="feather icon-box"></i></span>
                                        <span class="pcoded-mtext">Modules</span>
                                    </a>
                                    <ul class="pcoded-submenu">

                                        <li>
                                            <a href="/AdminDashboard/Users?status=All">
                                                <span class="pcoded-mtext">
                                                    momentarily Users
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/AdminDashboard/Users?status=Daily">
                                                <span class="pcoded-mtext">
                                                   Sign Up Today
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/AdminDashboard/Subscribers?status=All">
                                                <span class="pcoded-mtext">
                                                    momentarily Subscribers
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/AdminDashboard/Subscribers?status=Daily">
                                                <span class="pcoded-mtext">
                                                   Subscribed Today
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/AdminDashboard/Items">
                                                <span class="pcoded-mtext">Available Items</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/AdminDashboard/MostRentedItems">
                                                <span class="pcoded-mtext">Most Rented Items</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/AdminDashboard/TotalListedItem">
                                                <span class="pcoded-mtext">Total Listed Items</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/AdminDashboard/AbusiveReports">
                                                <span class="pcoded-mtext">Reported Items </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/AdminDashboard/GenerateCoupon">
                                                <span class="pcoded-mtext">Generate Coupon </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/AdminDashboard/AdminMessages">
                                                <span class="pcoded-mtext">My Messages</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/AdminDashboard/AllDisputes">
                                                <span class="pcoded-mtext">All Disputes</span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="/AdminDashboard/ResolvedDisputes">
                                                <span class="pcoded-mtext">Resolved Disputes</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/AdminDashboard/AllCovidOrders">
                                                <span class="pcoded-mtext">Covid-19</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/AdminDashboard/StockDetail">
                                                <span class="pcoded-mtext">Stock Detail</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/AdminDashboard/StockMaster">
                                                <span class="pcoded-mtext">Stock Master</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                            </ul>

                            <ul class="pcoded-item reports pcoded-left-item">
                                <li class="pcoded-hasmenu reportshasmenu">
                                    <a href="javascript:void(0)">
                                        <span class="pcoded-micon"><i class="feather icon-eye"></i></span>
                                        <span class="pcoded-mtext">Reports</span>
                                    </a>
                                    <ul class="pcoded-submenu">

                                        <li>
                                            <a href="/AdminDashboard/TransactionReport">
                                                <span class="pcoded-mtext">Detailed Reports</span>
                                            </a>
                                        </li>

                                        <li>
                                            <a id="AllTransactionId" href="/AdminDashboard/AllTransactionReports">
                                                <span class="pcoded-mtext">Transaction Reports</span>
                                            </a>
                                        </li>
                                      
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>

                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">
                                    @RenderBody()
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="divLoading">
        <p>
            Loading. Please wait...<br />
            <span>
                <img src="~/Content/Images/circleloadinganimationOrignal.gif" alt="image" />
            </span>
        </p>

    </div>
    @Scripts.Render("~/Scripts/adminJs")

    @*<script src="~/AdminContent/Admity/js/popper.min.js"></script>
    <script src= "~/AdminContent/Admity/js/bootstrap.min.js"></script>
    <script src= "~/AdminContent/Admity/js/Chart.js"></script>
    <script src= "~/AdminContent/Admity/js/pcoded.min.js"></script>
    <script src="~/AdminContent/Admity/js/vartical-layout.min.js"></script>
    <script src="~/AdminContent/Admity/js/custom-dashboard.js"></script>
    <script src="~/AdminContent/Admity/js/script.min.js"></script>
    <script src="~/plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
    <script src="~/AdminContent/Admity/js/AdminSideBar.js"></script>*@

    <script src="https://ajax.cloudflare.com/cdn-cgi/scripts/95c75768/cloudflare-static/rocket-loader.min.js" data-cf-settings="e961f3cdcf6a31aed4aa72d2-|49" defer="">
    </script>
    <script async defer src="//assets.pinterest.com/js/pinit.js"></script>
    <style>
        #divLoading {
            margin: 0px;
            padding: 0px;
            position: fixed;
            right: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            background-color: #666666;
            z-index: 30001;
            opacity: .8;
            filter: alpha(opacity=70);
            display: none
        }

            #divLoading p {
                position: fixed;
                top: 30%;
                left: 45%;
                color: White;
            }

            #divLoading span > img {
                padding-left: 44px;
            }
    </style>
    <script>
        $("#AllTransactionId").click(function () {
            $('#divLoading').show();
        });
    </script>
</body>
</html>

