<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @RenderSection("meta", required: false)
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="~/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="~/plugins/jqvmap/jqvmap.min.css">
    <link rel="stylesheet" href="~/AdminContent/css/adminlte.min.css">
    <link rel="stylesheet" href="~/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <link rel="stylesheet" href="~/plugins/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="~/plugins/summernote/summernote-bs4.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <link href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.css" rel="stylesheet" />
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <style>

        .page-item.active .page-link {
            border: 1px solid #dee2e6;
        }

        

        .page-item.active .page-link {
            z-index: 1;
            color: #fff;
            background-color: #cf2d1e !important;
            color: #fff !important;
        }


        .main-sidebar {
            background-color: #48535b !important;
        }

        .sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active, .sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active {
            background-color: #cf2d1e !important;
            color: #fff !important;
        }

        .breadcrumb-item a, .navbar-nav.ml-auto .nav-item a {
            color: #cf2d1e !important;
        }

            .breadcrumb-item a:hover, .navbar-nav.ml-auto .nav-item a:hover {
                color: #dea39d !important;
            }

        .sidebar a {
            color: #fff !important;
        }

            .sidebar a:hover {
                color: #c2c7d0 !important;
            }

        .user-panel img {
            width: 3.3rem !important;
        }
      

        .navbar-expand .navbar-nav .dropdown-menu {
            position: absolute !important;
            margin-left: -170px !important;
        }
  

    </style>
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
                </li>
            </ul>
            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <img src="~/AdminContent/img/user2-160x160.jpg" class="user-image" alt="image">
                        <span class="hidden-xs" style="color:#cf2d1e !important;">Admin</span>
                    </a>
                    <ul class="dropdown-menu" style="background-color:#999fa2;margin-top: 15px;">
                        <!-- User image -->
                        <li class="user-header">
                            <img src="~/AdminContent/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                            <p style="color:#fff !important">
                                Admin
                            </p>
                        </li>

                        <li class="user-footer">
                            <div class="row">
                                <div class="pull-left">
                                    <a href="/AdminDashboard/AdminPwd" class="btn btn-default btn-flat">Change Password</a>
                                </div>
                                <div class="pull-right">
                                    <a href="/admin/LogOut" class="btn btn-default btn-flat" style="margin-left: 52px;">Log out</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>


            </ul>
        </nav>

        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <a class="navbar-brand" ng-hide="shared.isMobile" href="~/AdminDashboard">
                        <img src="/Content/Img/logo-big.png" alt="image">
                        <span>momentarily</span>
                    </a>
              
                </div>
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                        with font-awesome or any other icon font library -->
                        <li class="nav-item has-treeview menu-open">
                            <a href="/AdminDashboard/Index" class="nav-link active">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    Dashboard
                                   
                                </p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-edit"></i>
                                <p>
                                    Admin
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/AdminDashboard/AdminPwd" class="nav-link">
                                        <i class="fas fa-sliders-h nav-icon"></i>
                                        <p>Change Password</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/AdminDashboard/Users" class="nav-link">
                                        <i class="fas fa-sliders-h nav-icon"></i>
                                        <p>Users</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/AdminDashboard/Items" class="nav-link">
                                        <i class="fas fa-sliders-h nav-icon"></i>
                                        <p>Items</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/AdminDashboard/MostRentedItems" class="nav-link">
                                        <i class="fas fa-sliders-h nav-icon"></i>
                                        <p>Most Rented Items</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>
    </div>
    <div class="content-wrapper">
        @RenderBody()
    </div>

    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script>
        $.widget.bridge('uibutton', $.ui.button)

    </script>
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/plugins/chart.js/Chart.min.js"></script>
    <script src="~/plugins/sparklines/sparkline.js"></script>
    <script src="~/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <script src="~/plugins/jquery-knob/jquery.knob.min.js"></script>
    <script src="~/plugins/moment/moment.min.js"></script>
    <script src="~/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="~/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="~/plugins/summernote/summernote-bs4.min.js"></script>
    <script src="~/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <script src="~/AdminContent/js/adminlte.js"></script>
    <script src="~/AdminContent/js/pages/dashboard.js"></script>
    <script src="~/AdminContent/js/demo.js"></script>
    <script src="~/plugins/jquery/jquery.js"></script>
    <script src="~/plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
    <script async defer src="//assets.pinterest.com/js/pinit.js"></script>
</body>
</html>
