<!DOCTYPE html>
<html lang="en-us">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-155387094-1"></script>
    <script async defer src="//assets.pinterest.com/js/pinit.js"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-155387094-1');
    </script>
    <title>momentarily</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    @RenderSection("meta", required: false)
    <link rel="icon" type="image/ico" href="~/Content/Img/favicon.ico">


    <link rel="stylesheet" href="~/Content/TemplateImg/css/bootstrap1.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/TemplateImg/css/style.css" type="text/css" />
    <link href="~/Content/TemplateImg/css/header.css" rel="stylesheet" />
    <link href="~/Content/TemplateImg/css/footer.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/TemplateImg/css/responisve.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/TemplateImg/css/font-awesome.min.css" type="text/css" />
    <!--owl carousel css-->
    <link rel="stylesheet" href="~/Content/TemplateImg/css/owl.carousel.min.css" type="text/css" />
    <!--fonts css-->
    <!-- ss <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet"> -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap" rel="stylesheet"> -->

</head>

<body>

 


    @RenderBody()


</body>

</html>

