@model Apeek.Common.IShape<IEnumerable<Apeek.ViewModels.Models.UserMessageViewModel>>
@{
    ViewBag.Title = "My Messages";
    Layout = "~/Areas/Frontend/Views/Shared/_AccountMenuLayout.cshtml";
}


@*<link href="~/Content/css/messages.css" rel="stylesheet" />*@

@Styles.Render("~/Content/css/messages")
@Styles.Render("~/bundles/cssAccount")
<div class="content contentFooterOver" ng-controller="MessageController as userMessage" ng-cloak>
    <div class="account messages">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-md-offset-3">
                    <div class="background-container">
                        <div class="title-block separated-block">
                            <h1 class="left-align">My messages</h1>
                            @*<div class="right-align">Recent<i class="fa fa-chevron-down" aria-hidden="true"></i></div>*@
                        </div>
                        <div class="list-empty"
                             ng-hide="userMessage.showMessagesList()">You have no messages!</div>
                        <div class="list"
                             ng-show="userMessage.showMessagesList()">
                            <a ng-repeat="message in userMessage.viewModel"
                               ng-href="/Message/Conversation?userId={{message.AuthorId | encodeBase64}}" @*ng-click="storedata(message.AuthorId)"*@>

                                <div ng-class="userMessage.isMessageNew(message) ? 'message new' : 'message'" class="clearfix">
                                    <img src="{{message.AuthorProfilePictureUrl}}" class="userpic" alt="image" />
                                    <div class="main-info" style="width:90%">
                                        <div class="user-name-msg">{{message.AuthorUserName}}</div>
                                        <div ng-show="message.IsSystem" ng-bind-html="userMessage.replaceQuotes(message.Message)"></div>
                                    </div>
                                    <div ng-show="!message.IsSystem" class="last-message">{{message.Message}}</div>
                                    @*<div ng-show="message.IsSystem" class="last-message">You have new booking request from <span class="name">{{message.AuthorUserName}}</span></div>*@
                                    <div class="date">{{userMessage.convertDate(message.DateCreated) | date: 'MM/dd/yyyy hh:mm a'}}</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/Scripts/Messages")

<script>
    var angularConstants = {};
    angularConstants = {
        Messages: JSON.parse('@Html.Raw(HttpUtility.JavaScriptStringEncode(Json.Encode(Model)))')
    };
</script>
