@model Apeek.Common.IShape<Apeek.ViewModels.Models.AccountCompletenessViewModel>

@{
    Layout = null;
}


@if (string.IsNullOrWhiteSpace(User.EmailAddress))
{
    <div class="tip_attension">
        <div class="icon attension" style="margin-top:-3px;"></div>
        Будьте всегда на связи со своими клиентами! @Html.RouteLink(t("Добавьте свой email"), QuickUrl.RouteUserEmail()) для получения важных оповещений (email не публикуется!)
      
    </div>
}else if (!Shape.ViewModel.HasPwd)
{
   <div class="tip_attension">
        <div class="icon attension" style="margin-top:-3px;"></div>
        У вас не установлен пароль! @Html.RouteLink(t("Установите его"), QuickUrl.RouteUserPwd()) для комфортного пользования сайтом
      
    </div> 
}

