@*This is main layout for user page*@

@{ Layout = "~/Views/Shared/_UserAccount.cshtml"; }

<div class="account">
    <div class="tabber">
        
        @{ Html.RenderAction("AccountCompleteness"); }

        @*Rendering user navigation*@
        @{ Html.RenderPartial("UserNavigation"); }

        @*Rendering content here*@
        @RenderBody()
    </div>
</div>