@*This is main layout for user page*@

@{Layout = "~/Views/Shared/_UserAccount.cshtml";}

@*@{ Html.RenderAction("AccountCompleteness"); }*@


@Html.RouteLink(t("← к объявлению"), QuickUrl.RouteUserInfoPreview(), new Dictionary<string, object>{{"class", "back_btn"}} )
    
<div class="settings">
    <div class="left">
        @*Rendering user navigation*@
        @{ Html.RenderPartial("UserSettingsNavigation"); }
    </div>
    <div class="right">
        @RenderBody()
    </div>

</div>