.navbar-header.loginAdmin {
    width: 100%;
    text-align: center;
}
    .navbar-header.loginAdmin .navbar-brand {
        float: none;
        display: block;
        position: relative;
        height: auto;
    }
