.ng-datepicker {
    position: absolute;
    z-index: 9999;
    width: 250px;
    background: #fff;
    font-size: 12px;
    /*color: #565a5c;*/
    color: #cccccc;
    display: inline-block;
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    margin: 0;
    padding: 0;
}
.ng-datepicker-background {
    display: none;
}
.ng-datepicker > .controls {
    width: 100%;
    display: inline-block;
    padding: 5px 0 0 0;
}
    .ng-datepicker > .controls i {
        font-size: 25px;
        cursor: pointer;
    }
    .ng-datepicker > .controls > .left {
        width: 35px;
        display: inline-block;
        position: absolute;
        left: 0;
        top: 5px;
        margin: 5px 0 0 3px;
        z-index: 100;
    }
        .ng-datepicker > .controls > .left > i.prev-year-btn {
            float: left;
            display: block;
            font-size: 14px;
            opacity: 0.4;
        }
        .ng-datepicker > .controls > .left > i.prev-month-btn {
            float: left;
            margin: -5px 0 0 9px;
            display: block;
        }
    .ng-datepicker > .controls > span.date {
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 2px;
        width: 100%;
        min-height: 25px;
        text-align: center;
        font-size: 14px;
        color: #565a5c;
        font-weight: bold;
        float: left;
        z-index: 99;
    }
        .ng-datepicker > .controls > span.date > span {
            cursor: pointer;
        }
    .ng-datepicker > .controls > .right {
        width: 35px;
        display: inline-block;
        right: 0;
        top: 5px;
        position: absolute;
        margin: 5px 3px 0 0;
        z-index: 100;
    }
        .ng-datepicker > .controls > .right > i.next-year-btn {
            float: right;
            display: block;
            font-size: 14px;
            opacity: 0.4;
        }
        .ng-datepicker > .controls > .right > i.next-month-btn {
            float: right;
            margin: -6px 9px 0 0;
        }
.ng-datepicker > .day-names {
    width: 100%;
    display: inline-block;
}
    .ng-datepicker > .day-names > span {
        width: 14.28571428571429%;
        text-align: center;
        color: #82888a;
        float: left;
        display: block;
    }
.ng-datepicker > .calendar {
    width: 100%;
    display: inline-block;
    padding: 0;
}
    .ng-datepicker > .calendar > span > span.day,
    .ng-datepicker > .calendar > span > span.month,
    .ng-datepicker > .calendar > span > span.year {
        height: 35px;
        float: left;
        display: block;
        color: #cccccc;
        text-align: center;
        font-weight: bold;
        line-height: 35px;
        margin: 0;
        padding: 0;
        font-size: 14px;
        cursor: default;
    }
    .ng-datepicker > .calendar > span > span.day {
        width: 14.28571428571429%;
    }
    .ng-datepicker > .calendar > span > span.month {
        width: 33.33333333%;
    }
    .ng-datepicker > .calendar > span > span.year {
        width: 20%;
    }
        .ng-datepicker > .calendar > span > span.day.active,
        .ng-datepicker > .calendar > span > span.month.active,
        .ng-datepicker > .calendar > span > span.year.active {
            color: #565a5c;
            cursor: pointer;
        }
        .ng-datepicker > .calendar > span > span.day.disabled,
        .ng-datepicker > .calendar > span > span.month.disabled,
        .ng-datepicker > .calendar > span > span.year.disabled {
            cursor: default;
            pointer-events: none;
        }
        .ng-datepicker > .calendar > span > span.day.active:hover,
        .ng-datepicker > .calendar > span > span.month.active:hover,
        .ng-datepicker > .calendar > span > span.year.active:hover {
            background: #f03a3a;
            color: #fff;
        }
        .ng-datepicker > .calendar > span > span.day.selected,
        .ng-datepicker > .calendar > span > span.month.selected,
        .ng-datepicker > .calendar > span > span.year.selected {
            background: #f03a3a;
            color: #fff;
        }
@media (max-width: 767px) {
    .ng-datepicker-background {
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 102;
        background-color: rgba(0,0,0,0.50);
    }
    .ng-datepicker-container {
        position: fixed;
        top: 67px;
        bottom: 0;
        right: 0;
        left: 0;
        /*background-color: #fff;*/
        text-align: center;
        z-index: 101;
    }
    .ng-datepicker {
        width: 90%;
        height: 90%;
        position: relative;
        border: none;
        top: 0 !important;
        left: 0 !important;
    }
        .ng-datepicker > .calendar {
            height: 85%;
            position: relative;
        }
        .ng-datepicker > .controls > .left {
            width: 60px;
        }
            .ng-datepicker > .controls > .left > i.prev-year-btn {
                font-size: 25px;
            }
        .ng-datepicker > .controls i {
            font-size: 35px;
        }
        .ng-datepicker > .controls > span.date {
            padding-left: 55px;
            padding-right: 55px;
            padding-top: 7px;
            min-height: 40px;
            font-size: 17px;
        }
        .ng-datepicker > .calendar > span > span.day,
        .ng-datepicker > .calendar > span > span.month,
        .ng-datepicker > .calendar > span > span.year {
            position: relative;
        }
        .ng-datepicker > .calendar > span > span.day,
        .ng-datepicker > .calendar > span > span.year {
            height: 16.66666666666667%;
        }
        .ng-datepicker > .calendar > span > span.month {
            height: 25%;
        }
        .ng-datepicker > .controls > .right {
            width: 60px;
        }
            .ng-datepicker > .controls > .right > i.next-year-btn {
                font-size: 25px;
            }
        .ng-datepicker > .calendar > span > span.day > span,
        .ng-datepicker > .calendar > span > span.month > span,
        .ng-datepicker > .calendar > span > span.year > span {
            position: absolute;
            top: 50%;
            margin-top: -1.3em;
            left: 0;
            right: 0;
        }
}
