body {
    margin: 0px;
    padding: 0px;
}
.mainHeading {
    padding: 13px 0;
    text-align: center;
    background-color: white;
}
.pageHeading h1 {
    margin: 0px 0 10px 0;
    padding: 0px !important;
    font-size: 40px;
    font-weight: 400;
    /*text-transform: uppercase;*/
    color: #323C40;
}
.pageHeading p {
    font-size: 20px;
    color: #323C40;
}
.bannerSection {
    position: relative;
    background-image: url(/Content/Img/banner-new-28-Aug-2019.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    background-position: center center;
    min-height: 500px;
}
.bannerContent {
    position: absolute;
    top: 35px;
    left: 0;
    width: 100%;
    text-align: center;
}
.btn-red {
    background-color: #cf2d1e;
    border-color: #cf2d1e;
    color: #fff;
}
    .btn-red:hover, .btn-red:focus {
        background-color: #cf2d1e;
        border-color: #cf2d1e;
        color: #fff !important;
    }
.bannerContent .btn {
    border-radius: 0px;
    max-width: 500px;
    width: 100%;
    padding: 14px;
    font-size: 20px;
}
.copyright {
    background-color: #ebebeb;
    padding: 10px 0;
    /*border-top: 1px solid #ddd;*/
    border-top: 2px #b1b1b1 solid
}
    .copyright p {
        font-size: 13px;
        margin: 0px;
        text-align: right;
    }
