<!doctype html>
<html>
<head>
    <meta charset="utf-8" />

    <title>momentarily : Account Activation</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet" />
</head>
<body style="width:100%; margin:0 ; padding:0 ; -webkit-text-size-adjust:none; -ms-text-size-adjust:none; background-color:#FFFFFF;font-family: 'Lato', sans-serif;">

    <div style="max-width:612px; width:100%; margin:0 auto; overflow:hidden; ">
        <table cellpadding="0" cellspacing="0" align="center" border="0" style="max-width:610px; width:100%; margin:auto; padding:0;  background-color:#FFFFFF; color:#222222; overflow:hidden; border-left:1px solid #eee; border-right:1px solid #eee;">
            <tr>
                <td>
                    <table align="center" valign="middle" cellpadding="0" cellspacing="0" border="0" style="max-width:610px; width:100%; overflow:hidden; margin:0; padding:0;
                      background-color: #49535c; text-align: center;">
                        <tr>
                            <td>
                                <img style="width:100%;" src="my_hostings/Content/TemplateImg/images/header-3.jpg" alt="image" />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr style="max-width:610px; width:100%; box-sizing: border-box;">
                <td>

                    <table align="center" valign="middle" cellpadding="0" cellspacing="0" border="0" style=" overflow:hidden; max-width: 610px; width:100%; box-sizing: border-box; margin:0; padding:30px 15px 10px;">
                        <tr>
                            <td>
                                <p style="color:#cc2f20;font-size:30px; line-height:19px; margin-top:15px; margin-bottom:20px; padding:0;font-weight:bold; text-align: center;"> ALMOST THERE... </p>
                                <p style="color:#4a4f52;font-size:15px;line-height:23px; margin-top:0; margin-bottom:20px; padding:0 60px; font-weight:normal;text-align:center;">
                                    firstname, confirm your account by clicking on the button below and be sure to refer others!<br />
                                    See you on momentarily.com!
                                </p>

                            </td>
                        </tr>

                        <tr>
                            <td align="center" valign="middle" style="text-align: center;">
                                <a style="text-decoration: none; display: inline-block; margin-bottom:15px;  font-weight: 400; " href="{verification-url}" target="_blank"><img src="my_hostings/Content/TemplateImg/images/confirm-account.jpg" alt="" /></a>
                            </td>
                        </tr>

                    </table>

                </td>
            </tr>
            <tr style=" box-sizing: border-box; background-color: #fff; height:22px">
                <td style="text-align:center; border-left:1px solid #eee; border-right:1px solid #eee;">&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <table align="center" valign="center" cellpadding="0" cellspacing="0" border="0" style="max-width:610px;width:100%;overflow:hidden;background-color:#cc2f20;padding:20px 20px 0px;box-sizing:border-box">
                        <tbody>
                            <tr>
                                <td>
                                    <p style="text-align: center; height: 30px; overflow: hidden; margin: 0">
                                        <a href="https://www.instagram.com/momentarily/" style=" text-decoration: none; display: inline-block; margin: 0 5px;" target="_blank"><img alt="image" border="0" src="my_hostings/Content/TemplateImg/images/instaiconwhite.png" height="auto" width="28" style="outline:none;color:#ffffff;display:block;text-decoration:none;border-color:#ececec;" /></a>
                                        <a href="https://www.facebook.com/momentarily" style=" text-decoration: none; padding: 0; display:inline-block; margin: 0 5px;" target="_blank"><img alt="image" border="0" src="my_hostings/Content/TemplateImg/images/fbiconwhite.png" height="auto" width="28" style="outline:none;color:#ffffff;display:block;text-decoration: none;border-color: #ececec;" /></a>
                                        <a href="https://twitter.com/momentarilycom" style="text-decoration:none; padding: 0; display:inline-block; margin: 0 5px;" target="_blank"><img alt="image" border="0" src="my_hostings/Content/TemplateImg/images/twittericonwhite.png" height="auto" width="28" style="outline:none;color:#ffffff;display:block;text-decoration:none;border-color:#ececec;" /></a>
                                        <a href="https://www.youtube.com/momentarily" style="text-decoration:none; padding: 0; display:inline-block; margin: 0 5px;" target="_blank"><img alt="image" border="0" src="my_hostings/Content/TemplateImg/images/youtube.png" height="auto" width="28" style="outline:none;color:#ffffff;display:block;text-decoration:none;border-color:#ececec;" /></a>
                                        <a href="https://www.pinterest.com/momentarilycom/" style="text-decoration:none; padding: 0; display:inline-block; margin: 0 5px;" target="_blank"><img alt="image" border="0" src="my_hostings/Content/TemplateImg/images/pinterest.png" height="auto" width="28" style="outline:none;color:#ffffff;display:block;text-decoration:none;border-color:#ececec;" /></a>
                                    </p>
                                    <p style="color:#fff; font-family: 'Lato',sans-serif; font-size:15px; line-height:15px; margin-top:5px; margin-bottom:0px; padding:0;font-weight:normal; text-align: center">
                                        <a href="my_hostings" style="color:#fff;text-decoration:none; font-family: 'Lato',sans-serif;font-size: 12px;">www.momentarily.com </a>
                                    </p>
                                    <p style="color:#fff;font-size:10px; line-height:15px; margin:0; padding:0; font-weight:normal; text-align: center; font-family: 'Lato',sans-serif">CurrentYear momentarily <sup> TM </sup></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
               
                </td>
            </tr>
            <tr>
                <td>
                    <table align="center" valign="center" cellpadding="0" cellspacing="0" border="0" style="max-width:610px;width:100%;overflow:hidden;background-color:#cc2f20;padding:0px;box-sizing:border-box">
                        <tbody>
                            <tr>
                                <td>
                                    <p style="color:#cc2f20;font-size:5px;line-height:15px;margin:0;padding:0;font-weight:normal;text-align:center;font-family:'Lato',sans-serif;opacity:0;">1007 N Sepulveda Blvd #0293, Manhattan Beach, CA 90267</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>