 Your booking request for the listing "{listing}" was approved. 
 Please click the link below to view the details and pay for your rental.

<a href="{link-to-request}" target="_blank">{link-to-request}</a>