You recently entered a new email address for your <b>momentarily</b> account: ({user-email}). Please click the link below to confirm your new email. If this wasn’t you or you suspect fraudulent activity, please do NOT click the link below, and let us know immediately by replying to this email.

<a href="{activation-url}" target="_blank">{activation-url}</a>