<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>momentarily : User Deleted</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet" />
</head>
<body style="width:100%; margin:0 ; padding:0 ; -webkit-text-size-adjust:none; -ms-text-size-adjust:none; background-color:#FFFFFF;font-family: 'Lato', sans-serif;">

    <div style="max-width:612px; width:100%; margin:0 auto; overflow:hidden; ">
        <table cellpadding="0" cellspacing="0" align="center" border="0" style="max-width:610px; width:100%; margin:auto; padding:0;  background-color:#FFFFFF; color:#222222; overflow:hidden; border-left:1px solid #eee; border-right:1px solid #eee;">
            <tr>
                <td>
                    <table align="center" valign="middle" cellpadding="0" cellspacing="0" border="0" style="max-width:610px; width:100%; overflow:hidden; margin:0; padding:0;
background-color: #49535c; text-align: center;">
                        <tr>
                            <td>
                                <img style="width:100%;" src="my_hostings/Content/TemplateImg/images/header-3.jpg" alt="image" />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr style="max-width:610px; width:100%; box-sizing: border-box;">
                <td>

                    <table align="center" valign="middle" cellpadding="0" cellspacing="0" border="0" style=" overflow:hidden; max-width: 610px; width:100%; box-sizing: border-box; margin:0; padding:30px 15px 10px;">
                        <tr>
                            <td style="text-align:left; ">

                                <p style="color:#575F62; font-family:'Lato', sans-serif; font-size:15px; line-height:20px; margin-top:0; margin-bottom:20px; padding:0;
                                       text-align: left;">
                                    Hello <span style="text-transform:capitalize;">BuyerName</span>,
                                </p>
                                <p style="color:#575f62; font-family:'Lato', sans-serif; font-size:15px; line-height:19px; margin-top:0; margin-bottom:20px; padding:0;">
                                    Your order has been mailed and should arrive within 3-5 business days. Please note that shipping times may be delayed due to COVID-19.
                                </p>
                                <p style="color:#575f62; font-family:'Lato', sans-serif; font-size:15px; line-height:19px; margin-top:0; margin-bottom:20px; padding:0;">
                                    Thank you, <br> Team <a href="my_hostings" target="_blank" style="color:#da2617; text-decoration:none; font-weight:bold">momentarily</a>
                                </p>

                            </td>
                        </tr>
                    </table>

                </td>
            </tr>
            <tr style=" box-sizing: border-box; background-color: #fff; height:22px">
                <td style="text-align:center; border-left:1px solid #eee; border-right:1px solid #eee;">&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <table align="center" valign="center" cellpadding="0" cellspacing="0" border="0" style="max-width:610px;width:100%;overflow:hidden;background-color:#cc2f20;padding:30px 20px 0px;box-sizing:border-box">
                        <tbody>
                            <tr>
                                <td>
                                    <p style="text-align:center;height:30px;overflow:hidden;margin:0">
                                        <a href="https://www.instagram.com/momentarily/" style="text-decoration:none;display:inline-block;margin:0 5px" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.instagram.com/momentarily/&amp;source=gmail&amp;ust=1679036041909000&amp;usg=AOvVaw0OZFEtYo2LOAj9pduYCcnf"><img alt="image" border="0" src="https://ci5.googleusercontent.com/proxy/x1Q_RV_dQ3jKloFJ9XufwiynpU9rnT8Ot6eyiphfWu_YBnMddRCnhiLAHYbXZFSY13sHOdo8GVAF4bSU76lolckwHQrDWaGWNOzQNE101hPvClzGbF17fg=s0-d-e1-ft#https://localhost:44302/Content/TemplateImg/images/instaiconwhite.png" height="auto" width="28" style="outline:none;color:#ffffff;display:block;text-decoration:none;border-color:#ececec" class="CToWUd" data-bit="iit" jslog="138226; u014N:xr6bB; 53:W2ZhbHNlLDJd"></a>
                                        <a href="https://www.facebook.com/momentarily" style="text-decoration:none;padding:0;display:inline-block;margin:0 5px" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.facebook.com/momentarily&amp;source=gmail&amp;ust=1679036041909000&amp;usg=AOvVaw3oKwo-emWrUaknJnRihm5m"><img alt="image" border="0" src="https://ci6.googleusercontent.com/proxy/a1CmGk1MjtG6RLe3kLJHVLjeJ5APxJkRr6A7ZA9YqRWV2eGkIslLPh5LxEcJtaLIw01VA3N8YCCvkEboO55qotC1cA14ejv18zGHQyuqhITpPMBdZA=s0-d-e1-ft#https://localhost:44302/Content/TemplateImg/images/fbiconwhite.png" height="auto" width="28" style="outline:none;color:#ffffff;display:block;text-decoration:none;border-color:#ececec" class="CToWUd" data-bit="iit" jslog="138226; u014N:xr6bB; 53:W2ZhbHNlLDJd"></a>
                                        <a href="https://twitter.com/momentarilycom" style="text-decoration:none;padding:0;display:inline-block;margin:0 5px" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://twitter.com/momentarilycom&amp;source=gmail&amp;ust=1679036041909000&amp;usg=AOvVaw0FgZR035-0sNoUXTMm3jGF"><img alt="image" border="0" src="https://ci3.googleusercontent.com/proxy/5RRKXyVSBPTo7lK4Hrergs7ZXkyRrzgGxuXOkIpR0OJhWNF94GA4Q14e9r69g3WQQ7_8PmFYQR5AG9MeWEgYC4R8Wr7C3HNhihDdy4wiy9OdVuOD36oSm3WF=s0-d-e1-ft#https://localhost:44302/Content/TemplateImg/images/twittericonwhite.png" height="auto" width="28" style="outline:none;color:#ffffff;display:block;text-decoration:none;border-color:#ececec" class="CToWUd" data-bit="iit" jslog="138226; u014N:xr6bB; 53:W2ZhbHNlLDJd"></a>
                                        <a href="https://www.youtube.com/momentarily" style="text-decoration:none;padding:0;display:inline-block;margin:0 5px" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.youtube.com/momentarily&amp;source=gmail&amp;ust=1679036041910000&amp;usg=AOvVaw3C0W5nIcpQNMg_mxoJU-ws"><img alt="image" border="0" src="https://ci6.googleusercontent.com/proxy/Z0xoDb2HBEm5EHDMpyYaD5eUb5aXVpuBJG021-toA5vQqeTe63YrkYrIHqUkMw4WIkj8P6TGu4ZXCn-_dr7xsQgscRtnYoTF3dnvBWQjnH4q=s0-d-e1-ft#https://localhost:44302/Content/TemplateImg/images/youtube.png" height="auto" width="28" style="outline:none;color:#ffffff;display:block;text-decoration:none;border-color:#ececec" class="CToWUd" data-bit="iit" jslog="138226; u014N:xr6bB; 53:W2ZhbHNlLDJd"></a>
                                        <a href="https://www.pinterest.com/momentarilycom/" style="text-decoration:none;padding:0;display:inline-block;margin:0 5px" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.pinterest.com/momentarilycom/&amp;source=gmail&amp;ust=1679036041910000&amp;usg=AOvVaw3472o202gHs-Y1w89eJX_Z"><img alt="image" border="0" src="https://ci6.googleusercontent.com/proxy/DVwYBRplngJe_arg7YCosWlMmrfoRfiH8OTMXWaN9aB06Ipfff6ei8vfG5pI2MjXJWXAzifeG7QJO4qyhU4_sdGISHs5XC5xsz3z2BUEKoCUxEo=s0-d-e1-ft#https://localhost:44302/Content/TemplateImg/images/pinterest.png" height="auto" width="28" style="outline:none;color:#ffffff;display:block;text-decoration:none;border-color:#ececec" class="CToWUd" data-bit="iit" jslog="138226; u014N:xr6bB; 53:W2ZhbHNlLDJd"></a>
                                    </p>
                                    <p style="color: #fff; font-family: 'Lato',sans-serif; font-size: 15px; line-height: 15px; margin-top: 5px; margin-bottom: 0px; padding: 0; font-weight: normal; text-align: center">
                                        <a href="https://localhost:44302" style="color: #cc2f20;text-decoration:none;font-family:'Lato',sans-serif;font-size: 12px;" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://localhost:44302&amp;source=gmail&amp;ust=1679036041910000&amp;usg=AOvVaw1BqMN-HitvuIq9FbAz1Av6">www.momentarily.com </a>
                                    </p>
                                    <p style="color: #fff; font-size: 10px; line-height: 15px; margin: 0; padding: 0; font-weight: normal; text-align: center; font-family: 'Lato',sans-serif">2023 momentarily <sup> TM </sup></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table align="center" valign="center" cellpadding="0" cellspacing="0" border="0" style="max-width:610px;width:100%;overflow:hidden;background-color:#cc2f20;padding:0px;box-sizing:border-box">
                        <tbody>
                            <tr>
                                <td>
                                    <p style="color: #cc2f20;font-size:5px;line-height:15px;margin:0;padding:0;font-weight:normal;text-align:center;font-family:'Lato',sans-serif;opacity:0;">1007 N Sepulveda Blvd #0293, Manhattan Beach, CA 90267</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </td>
            </tr>
        </table>

    </div>
</body>
</html>