Your booking request has been declined for listing ({listing}). Please click the link below to return to <b>momentarily</b> and check out other listings!

<a href="{link-to-request}" target="_blank">{link-to-request}</a>