You have received a new booking request from {user-from} about your <b>momentarily</b> listing, "{listing}". Please click the link below to view the request.

<a href="{link-to-request}" target="_blank">{link-to-request}</a>