<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>momentarily : Launch</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
</head>
<body style="width:100% !important; margin:0 !important; padding:0 !important; -webkit-text-size-adjust:none; -ms-text-size-adjust:none; background-color:#FFFFFF;font-family: 'Lato', sans-serif;">
    <table cellpadding="0" cellspacing="0" border="0" id="backgroundTable" style="height:auto !important; margin:0; padding:0; width:100% !important; background-color:#FFFFFF; color:#222222;">
        <tr>

            <td>
                <div id="tablewrap" style="width:100% !important; max-width:600px !important; text-align:center !important; margin-top:0 !important; margin-right: auto !important; margin-bottom:0 !important; margin-left: auto !important;">
                    <table id="contenttable" width="600" align="center" cellpadding="0" cellspacing="0" border="0" style="background-color:#FFFFFF; text-align:center !important; margin-top:0 !important; margin-right: auto !important; margin-bottom:0 !important; margin-left: auto !important; border-top:1px solid #eee;
                     border-left: 1px solid #eee;border-right: 1px solid #eee;width: 100% !important; max-width:600px !important;padding:0 0 4px 0;background-image: url(images/bg.jpg);background-repeat: no-repeat;background-size:contain; -webkit-background-size:contain;">
                        <tr>
							<td>
								<table align="center" valign="middle" cellpadding="0" cellspacing="0" border="0" style="max-width:610px; width:100%; overflow:hidden; margin:0; padding:0;
			background-color: #49535c; text-align: center;">
									<tr>
										<td>
											<img style="width:100%;" src="my_hostings/Content/TemplateImg/images/header-3.jpg" alt="image" />
										</td>
									</tr>
								</table>
							</td>
						</tr>
                    </table>
                    <table id="contenttable1" width="600" align="center" cellpadding="0" cellspacing="0" border="0" style="background-color:#FFFFFF; text-align:center !important; margin-top:0 !important; margin-right: auto !important; margin-bottom:0 !important; margin-left: auto !important; border-left:1px solid #eee; border-right:1px solid #eee;border-bottom:1px solid #eee;width: 100% !important; max-width:600px !important;padding:20px 10px;">
                        <tr>
                            <td width="100%">
                                <table bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="25" width="100%">
                                    <tr>
                                        <td width="100%" style="text-align:left;">
                                            <p style="color:#cc2f20; font-size:30px; line-height:36px; margin-top:0; margin-bottom:20px; padding:0;font-weight:bold; text-align: center;">
                                                Launching <span style="color:#da2617;"> Soon </span>
                                            </p>
                                            <ul style="list-style: none; text-align:center;padding:0px;">
                                                <li style="width: auto;display: inline-block; color:#d22c1e;font-size:40px;padding: 0 15px 0 15px;">32<span style="display: block;color: #4a4f52;font-size:15px;text-transform: uppercase;">Days</span></li>
                                                <li style="border-right: 1px solid #ddd;display: inline-block;height: 32px;position: relative;top: -5px;"></li>
                                                <li style="width: auto;display: inline-block; color:#d22c1e;font-size:40px;padding: 0 15px 0 15px;">21<span style="display: block;color: #4a4f52;font-size:15px;text-transform: uppercase;">Hrs</span></li>
                                                <li style="border-right: 1px solid #ddd;display: inline-block;height: 32px;position: relative;top: -5px;"></li>
                                                <li style="width: auto;display: inline-block; color:#d22c1e;font-size:40px;padding: 0 15px 0 15px;">15<span style="display: block;color: #4a4f52;font-size:15px;text-transform: uppercase;">Minutes</span></li>
                                                <li style="border-right: 1px solid #ddd;display: inline-block;height: 32px;position: relative;top: -5px;"></li>
                                                <li style="width: auto;display: inline-block; color:#d22c1e;font-size:40px;padding: 0 15px 0 15px;">34<span style="display: block;color: #4a4f52;font-size:15px;text-transform: uppercase;">Seconds</span></li>
                                            </ul>
                                            <p style="color:#4a4f52;font-size:20px; line-height:19px; margin-top:0; margin-bottom:20px; padding:0;font-weight:normal; text-align: left;text-transform: capitalize;">
                                                Hello <span style="color:#da2617;"> User, </span>
                                            </p>
                                            <p style="color:#4a4f52; font-family: 'Lato', sans-serif; font-size:15px;line-height:23px; margin-top:0; margin-bottom:20px; padding:0; font-weight:normal;text-align:left;">
                                                After years of much work and anticipation, <a href="#" style="color:#da2617; text-decoration:none;"> momentarily </a> is excited to announce the upcoming launch of our community rental marketplace! We appreciate your patience and support throughout our development phase. <a href="#" style="color:#da2617; text-decoration:none;"> Momentarily.com </a> is now open for you to begin posting your items and spaces for rent!
                                            </p>
                                            <p style="color:#4a4f52; font-family: 'Lato', sans-serif; font-size:20px;line-height:23px; margin-top:0; margin-bottom:20px; padding:0; font-weight:bold;text-align:left;">About momentarily </p>
                                            <p style="color:#4a4f52; font-family: 'Lato', sans-serif; font-size:15px;line-height:23px; margin-top:0; margin-bottom:20px; padding:0; font-weight:normal;text-align:left;">We are creating a fun environment for people and businesses to share their belongings for an affordable price. Through loaning and borrowing, you’ll earn and save money, make new friends, enjoy new experiences, and reduce your ecological footprint! </p>
                                            <p style="color:#4a4f52; font-family: 'Lato', sans-serif; font-size:15px;line-height:23px; margin-top:0; margin-bottom:20px; padding:0; font-weight:normal;text-align:left;">Got some nice stuff lying around that you don’t often use, such as a bicycle, camera, backpack, furniture, or studio space? Put those valuable assets to work by loaning them out through <b>momentarily’s</b> <a href="#" style="color:#da2617; text-decoration:none;"> community sharing marketplace!</a></p>
                                            
                                            <p style="color:#4a4f52; font-family: 'Lato', sans-serif; font-size:15px;line-height:23px; margin-top:0; margin-bottom:20px; 
                                             padding:0; font-weight:normal;text-align:left;">
                                             Join as a member, list your available items, and spread the word through email and social networks so we can build something great together!</p>


                                            <p style="color:#4a4f52; font-family: 'Lato', sans-serif; font-size:15px;line-height:23px; margin-top:0; margin-bottom:20px; padding:0; font-weight:normal;text-align:left;">See you at the marketplace! </p>
                                            <p style="color:#4a4f52; font-family: 'Lato', sans-serif; font-size:15px;line-height:23px; margin-top:0; margin-bottom:20px; padding:0; font-weight:normal;text-align:left;">
                                                Derek <br> Founder
                                            </p>
                                        </td>
                                    </tr>
                                </table>
                                <table bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="0" width="100%" style="margin: 0 0 50px 0;">
                                    <tr>
                                        <td width="100%" bgcolor="#ffffff" style="text-align:center">
                                            <a style="font-weight:bold; text-decoration:none;" href="#">
                                                <div style="display:inline-block;width:auto;height: autocolor:#ffffff;font-size: 18px;font-family: 'Lato', sans-serif;padding: 10px 65px;font-weight:400;background-color:#cf2d1e;color:#fff;">Start listing your items</div>
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                                <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                    <tr>
                                        <td align="center" valign="middle">
                                            <a href="https://www.instagram.com/momentarily/" style=" text-decoration: none; display: inline-block; margin: 0 5px;" target="_blank"><img alt="image" border="0" src="my_hostings/Content/TemplateImg/images/instaiconwhite.png" height="auto" width="28" style="outline:none;color:#ffffff;display:block;text-decoration:none;border-color:#ececec;" /></a>
                                            <a href="https://www.facebook.com/momentarily" style=" text-decoration: none; padding: 0; display:inline-block; margin: 0 5px;" target="_blank"><img alt="image" border="0" src="my_hostings/Content/TemplateImg/images/fbiconwhite.png" height="auto" width="28" style="outline:none;color:#ffffff;display:block;text-decoration: none;border-color: #ececec;" /></a>
                                            <a href="https://twitter.com/momentarilycom" style="text-decoration:none; padding: 0; display:inline-block; margin: 0 5px;" target="_blank"><img alt="image" border="0" src="my_hostings/Content/TemplateImg/images/twittericonwhite.png" height="auto" width="28" style="outline:none;color:#ffffff;display:block;text-decoration:none;border-color:#ececec;" /></a>
                                            <a href="https://www.youtube.com/momentarily" style="text-decoration:none; padding: 0; display:inline-block; margin: 0 5px;" target="_blank"><img alt="image" border="0" src="my_hostings/Content/TemplateImg/images/youtube.png" height="auto" width="28" style="outline:none;color:#ffffff;display:block;text-decoration:none;border-color:#ececec;" /></a>
                                            <a href="https://www.pinterest.com/momentarilycom/" style="text-decoration:none; padding: 0; display:inline-block; margin: 0 5px;" target="_blank"><img alt="image" border="0" src="my_hostings/Content/TemplateImg/images/pinterest.png" height="auto" width="28" style="outline:none;color:#ffffff;display:block;text-decoration:none;border-color:#ececec;" /></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="color:#4a4f52;font-size:20px; line-height:19px; margin-top:5px; margin-bottom:0px; padding:0;font-weight:normal;
                                       text-align: center;">
                                                <a href="mailto:hello@momentarily.com" style="color:#da2617;text-decoration:none;">hello@momentarily.com</a>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="color:#4a4f52;font-size:20px; line-height:19px; margin-top:5px; margin-bottom:0px; padding:0;font-weight:normal;
                                       text-align: center;">
                                                <a href="#" style="color:#4a4f52;text-decoration:none;">www.momentarily.com </a>
                                            </p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <table id="contenttable2" width="600" align="center" cellpadding="0" cellspacing="0" border="0" style="background-color:#cf281f; text-align:center !important; margin-top:0 !important; margin-right: auto !important; margin-bottom:0 !important; margin-left: auto !important; border-left:1px solid #eee; border-right:1px solid #eee;border-bottom:1px solid #eee;width: 100% !important; max-width:600px !important;padding:20px 40px;">
                        <tr>
                            <td width="100%">
                                <table border="0" width="100%">
                                    <tr>
                                        <td>
                                            <p style="color:#fff;font-size:16px; line-height:19px; margin:0;padding:0;font-weight:normal; text-align: center;">
                                                2020 momentarily <sup> TM </sup>
                                            </p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table align="center" valign="center" cellpadding="0" cellspacing="0" border="0" style="max-width:610px; width:100%; overflow:hidden; background-color:#c4291a; padding: 10px; box-sizing: border-box;">
                                    <tr>
                                        <td>
                                            <p style="color:#fff;  font-size:13px; line-height:15px; margin:0; padding:0; font-weight:normal; text-align: center; font-family: 'Lato', sans-serif;">1007 N Sepulveda Blvd #0293, Manhattan Beach, CA 90267</p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</body>
</html>