<!doctype html>
<html>
<head>
    <meta charset="utf-8" />

    <title>Momentarily : Owner Receipt</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet" />
</head>
<body style="width:100%; margin:0 ; padding:0 ; -webkit-text-size-adjust:none; -ms-text-size-adjust:none; background-color:#FFFFFF;font-family: 'Lato', sans-serif;">

    <div style="max-width:612px; width:100%; margin:0 auto; overflow:hidden; ">
        <table cellpadding="0" cellspacing="0" align="center" border="0" style="max-width:610px; width:100%; margin:auto; padding:0;  background-color:#FFFFFF; color:#222222; overflow:hidden; border-left:1px solid #eee; border-right:1px solid #eee;">
            <tr>
                <td>
                    <table align="center" valign="middle" cellpadding="0" cellspacing="0" border="0" style="max-width:610px; width:100%; overflow:hidden; margin:0; padding:0;
background-color: #49535c; text-align: center;">
                        <tr>
                            <td>
                                <img style="width:100%;" src="my_hostings/Content/TemplateImg/images/header-3.jpg" alt="image" />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr style="max-width:610px; width:100%; box-sizing: border-box;">
                <td>

                    <table align="center" valign="middle" cellpadding="0" cellspacing="0" border="0" style=" overflow:hidden; max-width: 610px; width:100%; box-sizing: border-box; margin:0 ; padding:30px 15px 10px;">
                        <tr>
                            <td>
                                <table align="center" valign="middle" cellpadding="0" cellspacing="0" border="0" style=" overflow:hidden; max-width: 580px; width:100%; box-sizing: border-box; margin:0 ; padding:0px;">
                                    <tr>
                                        <td colspan="2" style="text-align:center;">
                                            <p style="color:#cc2f20; font-size:30px; line-height:36px; margin-top:0; margin-bottom:20px; padding:0;font-weight:bold; text-align: center;">
                                                Rental Receipt – Owner
                                            </p>
                                            <p style="font-family: 'Lato', sans-serif; font-size:15px;line-height:23px; margin-top:0; margin-bottom:20px; padding:0; font-weight:normal;text-align:center;">
                                                <span style="font-weight: bold; color:#4a4f52;float:left">Order No : $order$</span>   &nbsp;&nbsp;<span style="font-weight: bold;color:#4a4f52;float:right"> Date : $dated$</span>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr colspan="2" style=" box-sizing: border-box; background-color: #fff; height:22px">
                                        <td style="text-align:center; ">&nbsp;</td>
                                    </tr>

                                    <tr style="text-align:left;">
                                        <td style="text-align: left;border-bottom: 1px solid #eee;padding: 10px 0 10px 0;line-height:23px; font-size:15px;"><b style="text-transform:capitalize;">$itemname$</b> <br>  <b>$dollorsign$</b> &nbsp;$dayprice$ x $days$ </td>
                                        <td style="text-align:right;border-bottom: 1px solid #eee;padding: 10px 0 10px 0;line-height:23px; font-size:15px;">$daycost$</td>
                                    </tr>
                                    <tr style="text-align:left;">
                                        <td style="text-align: left;border-bottom: 1px solid #eee;padding: 10px 0 10px 0;line-height:23px; font-size:15px;"><b>Delivery Charges</b> <br>  <b>$DeliveryText$</b> </td>
                                        <td style="text-align:right;border-bottom: 1px solid #eee;padding: 10px 0 10px 0;line-height:23px; font-size:15px;">$deliverrate$</td>
                                    </tr>

                                    <tr style="text-align:left;">
                                        <td style="text-align: left;border-bottom: 1px solid #eee;padding: 10px 0 10px 0;line-height:23px; font-size:15px;"><b>Service Fee </b></td>
                                        <td style="text-align:right;border-bottom: 1px solid #eee;padding: 10px 0 10px 0;line-height:23px; font-size:15px;">$servicefee$</td>
                                    </tr>
                                    <tr style="text-align:left;">
                                        <td style="text-align: left;border-bottom: 1px solid #eee;padding: 10px 0 10px 0;line-height:23px; font-size:15px;"><b>Charity </b></td>
                                        <td style="text-align:right;border-bottom: 1px solid #eee;padding: 10px 0 10px 0;line-height:23px; font-size:15px;">$sharercharitycost$</td>
                                    </tr>
                                    <tr style="text-align:left;">
                                        <td style="text-align: left;border-bottom: 1px solid #eee;padding: 10px 0 10px 0;line-height:23px;color: #da2617; font-size:15px;"><b>Total</b> </td>
                                        <td style="text-align:right;border-bottom: 1px solid #eee;padding: 10px 0 10px 0;line-height:23px;color: #da2617; font-size:15px;"><b>$sharercost$</b></td>
                                    </tr>

                                    <tr>
                                        <td colspan="2" style="border-spacing: 0;  border: 6px solid #e2e2e2; padding:20px 0; box-sizing: border-box; text-align: center;">
                                            <img src="$itempath$" alt="Main banner image and link" width="250" />
                                        </td>
                                    </tr>

                                    <tr>
                                        <td width="300" style=" margin: 15px 0; padding: 15px 0; width:50%;">
                                            <table width="285" align="left" valign="center" cellpadding="0" cellspacing="0" border="0" style="width:98%; margin-right:2% ; overflow:hidden;">
                                                <tr>
                                                    <th style="background-color: #cf281f;color:#fff; text-align:left;  float:left; width:100%; text-transform: uppercase;margin:0px;font-size: 12px;  box-sizing: border-box; padding: 5px 10px; min-height: 30px; box-sizing: border-box;">
                                                        Rental start date
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <td style="background-color: #f2f2f2; box-sizing: border-box; color:#4a4f52; text-align:left; float:left; padding: 15px;margin:0px;line-height:26px; font-size: 15px;  width: 100%; ">
                                                        $startday$ <br>$startdate$ <br>$starttime$
                                                    </td>
                                                </tr>
                                            </table>

                                        </td>
                                        <td width="285" style="margin: 15px 0; padding: 15px 0; width:50%;">

                                            <table width="285" align="left" valign="center" cellpadding="0" cellspacing="0" border="0" style="width:100%;">
                                                <tr>
                                                    <th style="background-color: #cf281f;color:#fff; text-align:left;  float:left; width:100%; text-transform: uppercase;margin:0px;font-size: 12px;  box-sizing: border-box; padding: 5px 10px; min-height: 30px; box-sizing: border-box;">
                                                        Rental End date
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <td style="background-color: #f2f2f2; box-sizing: border-box; color:#4a4f52; text-align:left; float:left; padding: 15px;margin:0px;line-height:26px; font-size: 15px;  width: 100%; ">
                                                        $endday$ <br> $enddate$ <br>$endtime$
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td colspan="2" style="margin: 15px 0; padding: 0px 0 15px;">
                                            <table align="left" valign="center" cellpadding="0" cellspacing="0" border="0" style="max-width: 580px; width:100%;">
                                                <tr>
                                                    <th style="background-color: #cf281f;color:#fff; text-align:left;  float:left; width:100%; text-transform: uppercase;margin:0px;font-size: 12px;  box-sizing: border-box; padding: 5px 10px; min-height: 30px; box-sizing: border-box;">
                                                        Pick Up/Delivery Address
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <td style="background-color: #f2f2f2; color:#4a4f52; text-align:left; float:left; padding: 15px;margin:0px;line-height:26px; font-size: 15px;  width: 100%; box-sizing: border-box;">
                                                        <b style=" color:#4a4f52;">First Name:</b> $pfirst$ &nbsp;&nbsp;&nbsp; <b>Last Name: </b>$plast$ <br> <b>Address:</b> <br> $paddress$ <br> <b>Contact No:</b> $pcontact$ <br> <b>Email:</b><br> $pmail$
                                                    </td>
                                                </tr>
                                            </table>

                                        </td>
                                    </tr>

                               

                                    <tr>
                                        <td colspan="2" style="margin: 15px 0; padding: 0px 0 15px;">
                                            <table align="left" valign="center" cellpadding="0" cellspacing="0" border="0">
                                                <tr>
                                                    <th style="background-color: #cf281f;color:#fff; text-align:left;  float:left; width:100%; text-transform: uppercase;margin:0px;font-size: 12px;  box-sizing: border-box; padding: 5px 10px; min-height: 30px; box-sizing: border-box;">
                                                        Pickup/Delivery and Return Instructions
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <td style="background-color: #f2f2f2; color:#4a4f52; text-align:left; float:left; padding: 15px;margin:0px;line-height:26px; font-size: 15px; box-sizing: border-box;">
                                                        Please be on time at the agreed-upon location for pickup or delivery. Once you hand over the item, go to the "My Bookings" section in <a href="my_hostings" target="_blank" style="color:#da2617; text-decoration:none; font-weight:bold"> momentarily</a> and click on "Item Released".  Carefully examine the item with the borrower to ensure it is in good condition, and show them anything they may need to know for proper use or operation.
                                                        <br />
                                                        For item returns, please be at the location in person to accept the item, unless there is an emergency and you have communicated with the borrower about leaving the item with someone else.  Once returned, you will need to go to the "My Bookings" section again and select "Update Final Status".
                                                    </td>
                                                </tr>
                                            </table>

                                        </td>
                                    </tr>

                                    <tr>
                                        <td colspan="2" style="margin: 15px 0; padding: 0px 0 15px;">
                                            <table align="left" valign="center" cellpadding="0" cellspacing="0" border="0">
                                                <tr>
                                                    <th style="background-color: #cf281f;color:#fff; text-align:left;  float:left; width:100%; text-transform: uppercase;margin:0px;font-size: 12px;  box-sizing: border-box; padding: 5px 10px; min-height: 30px; box-sizing: border-box;">
                                                        Cancellations and Refunds
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <td style="background-color: #f2f2f2; color:#4a4f52; text-align:left; float:left; padding: 15px;margin:0px;line-height:26px; font-size: 15px; box-sizing: border-box;">
                                                        If you must cancel your booking, you may do so, but your member rating may be impacted and service fees are non-refundable. See <a href="my_hostings" target="_blank" style="color:#da2617; text-decoration:none; font-weight:bold"> momentarily's</a>&nbsp; <a href="my_hostings/Home/FAQ" style="color:#da2617; text-decoration:none;">FAQ</a> and <a href="my_hostings/Home/Terms" style="color:#da2617; text-decoration:none;"> terms and conditions </a> for details. If you loaned an item that does not match its web description or pictures, or if the item does not function properly, the borrower may be eligible for a refund and must notify you within 6 hours of the pickup/delivery. See our <a href="my_hostings/Home/Terms" style="color:#da2617; text-decoration:none;"> terms and conditions </a> for more details.
                                                    </td>
                                                </tr>
                                            </table>

                                        </td>
                                    </tr>

                                    <tr>
                                        <td colspan="2" style="margin: 15px 0; padding: 0px 0 15px;">
                                            <table align="left" valign="center" cellpadding="0" cellspacing="0" border="0">
                                                <tr>
                                                    <th style="background-color: #cf281f;color:#fff; text-align:left;  float:left; width:100%; text-transform: uppercase;margin:0px;font-size: 12px;  box-sizing: border-box; padding: 5px 10px; min-height: 30px; box-sizing: border-box;">
                                                        Our Policy
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <td style="background-color: #f2f2f2; color:#4a4f52; text-align:left; float:left; padding: 15px;margin:0px;line-height:26px; font-size: 15px; box-sizing: border-box;">
                                                        Our services comprise an online platform through which Owners may create listings for items to loan and Borrowers may learn about and rent items. You understand and agree that <a href="my_hostings" target="_blank" style="color:#da2617; text-decoration:none; font-weight:bold"> momentarily's</a> is not a party to any agreements entered into between Owners and Borrowers, nor is <a href="my_hostings" target="_blank" style="color:#da2617; text-decoration:none; font-weight:bold"> momentarily's</a> an item broker, agent or insurer. <a href="my_hostings" target="_blank" style="color:#da2617; text-decoration:none; font-weight:bold"> momentarily's</a> has no control over the conduct of owners, Borrowers and other users of the site, application, and services or any items, and disclaims all liability in this regard.
                                                    </td>
                                                </tr>
                                            </table>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" align="center" valign="middle" style="text-align: center; padding-top: 10px; margin-top:10px">
                                            <a style="text-decoration: none; display: inline-block;  font-weight: 400; " href="my_hostings/Listing/Create" target="_blank"><img src="my_hostings/Content/TemplateImg/images/print-ricipt.jpg" alt="" /></a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>

                </td>
            </tr>
            <tr style=" box-sizing: border-box; background-color: #fff; height:18px">
                <td style="text-align:center; border-left:1px solid #eee; border-right:1px solid #eee;">&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <table align="center" valign="center" cellpadding="0" cellspacing="0" border="0" style="max-width:610px;width:100%;overflow:hidden;background-color:#cc2f20;padding:30px 20px 0px;box-sizing:border-box">
                        <tbody>
                            <tr>
                                <td>
                                    <p style="text-align:center;height:30px;overflow:hidden;margin:0">
                                        <a href="https://www.instagram.com/momentarily/" style="text-decoration:none;display:inline-block;margin:0 5px" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.instagram.com/momentarily/&amp;source=gmail&amp;ust=1679036041909000&amp;usg=AOvVaw0OZFEtYo2LOAj9pduYCcnf"><img alt="image" border="0" src="https://ci5.googleusercontent.com/proxy/x1Q_RV_dQ3jKloFJ9XufwiynpU9rnT8Ot6eyiphfWu_YBnMddRCnhiLAHYbXZFSY13sHOdo8GVAF4bSU76lolckwHQrDWaGWNOzQNE101hPvClzGbF17fg=s0-d-e1-ft#https://localhost:44302/Content/TemplateImg/images/instaiconwhite.png" height="auto" width="28" style="outline:none;color:#ffffff;display:block;text-decoration:none;border-color:#ececec" class="CToWUd" data-bit="iit" jslog="138226; u014N:xr6bB; 53:W2ZhbHNlLDJd"></a>
                                        <a href="https://www.facebook.com/momentarily" style="text-decoration:none;padding:0;display:inline-block;margin:0 5px" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.facebook.com/momentarily&amp;source=gmail&amp;ust=1679036041909000&amp;usg=AOvVaw3oKwo-emWrUaknJnRihm5m"><img alt="image" border="0" src="https://ci6.googleusercontent.com/proxy/a1CmGk1MjtG6RLe3kLJHVLjeJ5APxJkRr6A7ZA9YqRWV2eGkIslLPh5LxEcJtaLIw01VA3N8YCCvkEboO55qotC1cA14ejv18zGHQyuqhITpPMBdZA=s0-d-e1-ft#https://localhost:44302/Content/TemplateImg/images/fbiconwhite.png" height="auto" width="28" style="outline:none;color:#ffffff;display:block;text-decoration:none;border-color:#ececec" class="CToWUd" data-bit="iit" jslog="138226; u014N:xr6bB; 53:W2ZhbHNlLDJd"></a>
                                        <a href="https://twitter.com/momentarilycom" style="text-decoration:none;padding:0;display:inline-block;margin:0 5px" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://twitter.com/momentarilycom&amp;source=gmail&amp;ust=1679036041909000&amp;usg=AOvVaw0FgZR035-0sNoUXTMm3jGF"><img alt="image" border="0" src="https://ci3.googleusercontent.com/proxy/5RRKXyVSBPTo7lK4Hrergs7ZXkyRrzgGxuXOkIpR0OJhWNF94GA4Q14e9r69g3WQQ7_8PmFYQR5AG9MeWEgYC4R8Wr7C3HNhihDdy4wiy9OdVuOD36oSm3WF=s0-d-e1-ft#https://localhost:44302/Content/TemplateImg/images/twittericonwhite.png" height="auto" width="28" style="outline:none;color:#ffffff;display:block;text-decoration:none;border-color:#ececec" class="CToWUd" data-bit="iit" jslog="138226; u014N:xr6bB; 53:W2ZhbHNlLDJd"></a>
                                        <a href="https://www.youtube.com/momentarily" style="text-decoration:none;padding:0;display:inline-block;margin:0 5px" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.youtube.com/momentarily&amp;source=gmail&amp;ust=1679036041910000&amp;usg=AOvVaw3C0W5nIcpQNMg_mxoJU-ws"><img alt="image" border="0" src="https://ci6.googleusercontent.com/proxy/Z0xoDb2HBEm5EHDMpyYaD5eUb5aXVpuBJG021-toA5vQqeTe63YrkYrIHqUkMw4WIkj8P6TGu4ZXCn-_dr7xsQgscRtnYoTF3dnvBWQjnH4q=s0-d-e1-ft#https://localhost:44302/Content/TemplateImg/images/youtube.png" height="auto" width="28" style="outline:none;color:#ffffff;display:block;text-decoration:none;border-color:#ececec" class="CToWUd" data-bit="iit" jslog="138226; u014N:xr6bB; 53:W2ZhbHNlLDJd"></a>
                                        <a href="https://www.pinterest.com/momentarilycom/" style="text-decoration:none;padding:0;display:inline-block;margin:0 5px" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.pinterest.com/momentarilycom/&amp;source=gmail&amp;ust=1679036041910000&amp;usg=AOvVaw3472o202gHs-Y1w89eJX_Z"><img alt="image" border="0" src="https://ci6.googleusercontent.com/proxy/DVwYBRplngJe_arg7YCosWlMmrfoRfiH8OTMXWaN9aB06Ipfff6ei8vfG5pI2MjXJWXAzifeG7QJO4qyhU4_sdGISHs5XC5xsz3z2BUEKoCUxEo=s0-d-e1-ft#https://localhost:44302/Content/TemplateImg/images/pinterest.png" height="auto" width="28" style="outline:none;color:#ffffff;display:block;text-decoration:none;border-color:#ececec" class="CToWUd" data-bit="iit" jslog="138226; u014N:xr6bB; 53:W2ZhbHNlLDJd"></a>
                                    </p>
                                    <p style="color: #fff; font-family: 'Lato',sans-serif; font-size: 15px; line-height: 15px; margin-top: 5px; margin-bottom: 0px; padding: 0; font-weight: normal; text-align: center">
                                        <a href="https://localhost:44302" style="color: #cc2f20;text-decoration:none;font-family:'Lato',sans-serif;font-size: 12px;" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://localhost:44302&amp;source=gmail&amp;ust=1679036041910000&amp;usg=AOvVaw1BqMN-HitvuIq9FbAz1Av6">www.momentarily.com </a>
                                    </p>
                                    <p style="color: #fff; font-size: 10px; line-height: 15px; margin: 0; padding: 0; font-weight: normal; text-align: center; font-family: 'Lato',sans-serif">2023 momentarily <sup> TM </sup></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table align="center" valign="center" cellpadding="0" cellspacing="0" border="0" style="max-width:610px;width:100%;overflow:hidden;background-color:#cc2f20;padding:0px;box-sizing:border-box">
                        <tbody>
                            <tr>
                                <td>
                                    <p style="color: #cc2f20;font-size:5px;line-height:15px;margin:0;padding:0;font-weight:normal;text-align:center;font-family:'Lato',sans-serif;opacity:0;">1007 N Sepulveda Blvd #0293, Manhattan Beach, CA 90267</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>