Tell {sharer} what you loved, and what can be better!
<br />
Your booking just ended, so now is the perfect time to write your review about the listing: {listing}
<br />
Reviews are an important part of the momentarily community. Please take a moment to provide the Sharer with some helpful feedback-it'll only take a few minutes.
<br />
<a href="{link-to-review}" target="_blank">{link-to-review}</a>
