Reservation confirmed for listing ({listing})<br />
<br />
Reservation details:<br />
Start date: {start-date}<br />
End date: {end-date}<br />
Booking: ${booking-price}<br />
Service fee: ${service-fee}<br/>
Total price: ${price}<br />
Security deposit: ${secutiry-deposit}<br />
Pick Up Location: {pickup-location}<br />
<br />
Contact info:<br />
{sharer-name}<br />
{sharer-email}<br />
{sharer-phone}<br />
<br />
Please click the link below to view the confirmed booking details.<br />
<a href="{link-to-request}" target="_blank">{link-to-request}</a>