Reservation confirmed for listing ({listing})<br />
<br />
Reservation details:<br />
Start date: {start-date}<br />
End date: {end-date}<br />
Total price: ${price}<br/>
Pick Up Location:{pickup-location}<br />
<br />
Contact info:<br />
{seeker-name}<br />
{seeker-email}<br />
{seeker-phone}<br />
<br />
Please click the link below to view the confirmed booking details.<br />
<a href="{link-to-request}" target="_blank">{link-to-request}</a>
