Tell {seeker} what you loved, and what can be better!
<br/>
{seeker} just finished their booking, so now is the perfect time to write your review about them.
<br />
Reviews are an important part of the momentarily community. Please take a moment to provide the Seeker with some helpful feedback-it'll only take a few minutes.
<br />
<a href="{link-to-review}" target="_blank">{link-to-review}</a>