@using Apeek.Common
@using Apeek.Common.HttpContextImpl
@using Apeek.Common.UrlHelpers
@using Apeek.Entities.Entities
@{
    var shape = @Model as UserSecurityDataChangeRequest;
    
    Uri originalUri = HttpContextFactory.Current.Request.Url;
    string path = "/User/VerifySecurityRequest?vc=" + shape.VerificationCode;
    
    //var verificationUrl = string.Format("{0}://{1}{2}", originalUri.Scheme, originalUri.Authority, path);

    var verificationUrl = QuickUrl.VerifySecurityRequestUrl(shape.VerificationCode);
}

You recently entered a new email address for the email (@shape.OldValue). Please click the link below to confirm you new email.

<a href="@verificationUrl" target="_blank">@verificationUrl</a><br />