<!doctype html>
<html>
<head>
    <meta charset="utf-8">

    <title>momentarily : Welcome</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
</head>
<body style="width:100%; margin:0 ; padding:0 ; -webkit-text-size-adjust:none; -ms-text-size-adjust:none; background-color:#FFFFFF;font-family: 'Lato', sans-serif;">

    <div style="max-width:612px; width:100%; margin:0 auto; overflow:hidden; ">
        <table cellpadding="0" cellspacing="0" align="center" border="0" style="max-width:610px; width:100%; margin:auto; padding:0;  background-color:#FFFFFF; color:#222222; overflow:hidden; border-left:1px solid #eee; border-right:1px solid #eee;">
            <tr>
                <td>
                    <table align="center" valign="middle" cellpadding="0" cellspacing="0" border="0" style="max-width:610px; width:100%; overflow:hidden; margin:0; padding:0;
background-color: #49535c; text-align: center;">
                        <tr>
                            <td>
                                <img style="width:100%;" src="my_hostings/Content/TemplateImg/images/header-3.jpg" alt="image">
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr style="max-width:610px; width:100%;  box-sizing: border-box;">
                <td>

                    <table align="center" valign="middle" cellpadding="0" cellspacing="0" border="0" style=" overflow:hidden; max-width: 610px; width:100%; box-sizing: border-box; margin:0; padding:20px 0;">
                        <tr>
                            <td>
                                <p style="color:#cc2f20; font-size:30px; line-height:36px; margin-top:0; margin-bottom:20px; padding:0;font-weight:bold; text-align: center;">Welcome to <b>momentarily</b> </p>
                            </td>
                        </tr>
                    </table>

                    <table align="center" valign="middle" cellpadding="0" cellspacing="0" border="0" style=" overflow:hidden; background-color:#f1f1f1; max-width: 580px;   box-sizing: border-box; margin:0 15px; padding:20px;">

                        <tr style=" line-height: 24px;  box-sizing: border-box;  margin-top: 30px;">
                            <td>
                                <p style="color:#4a4f52;font-size:15px;line-height:23px; margin-top:0; margin-bottom:0px; padding:0; letter-spacing: 1px; font-weight:normal;text-align:left;">
                                    Dear <span style="text-transform:uppercase;">[userName]</span>
                                </p>
                                <p style="font-family: 'Lato', sans-serif; font-size: 15px;">Thank you for becoming a valued member of the <a style="color:#cc2f20;" href="#">momentarily</a> sharing community! As we continue to develop the rental marketplace, please reach out to me and my team with any questions or suggestions as we wish to make your experience an enjoyable one.</p>
                                <p style="font-family: 'Lato', sans-serif; font-size: 15px;">Let's build something extraordinary for our community together!</p>
                                <p style="color:#4a4f52; font-family: 'Lato', sans-serif; font-size:20px; line-height:23px; margin-top:0; margin-bottom:20px; padding:0; font-weight:bold; text-align:left;">How It Works </p>

                                <p style="font-family: 'Lato', sans-serif; font-size: 15px; color:#4a4f52;"><a href="my_hostings/Account/Register" style="color:#da2617;text-decoration:none;"><img src="my_hostings/Content/TemplateImg/images/corner-down-right-png.png" alt="image" width="16" /> Join</a> - Hooray, you completed this step!</p>
                                <p style="font-family: 'Lato', sans-serif; font-size: 15px; color:#4a4f52;"><a href="my_hostings/Listing/Create" style="color:#da2617;text-decoration:none;"><img src="my_hostings/Content/TemplateImg/images/corner-down-right-png.png" alt="image" width="16" /> List </a> - Start listing your stuff and watch your profits grow</p>
                                <p style="font-family: 'Lato', sans-serif; font-size: 15px; color:#4a4f52;"><a href="my_hostings/Search/Map" style="color:#da2617;text-decoration:none;"><img src="my_hostings/Content/TemplateImg/images/corner-down-right-png.png" alt="image" width="16" /> Rent</a> - Borrow items to save money and enjoy new life moments</p>

                                <p style="color:#4a4f52; font-family: 'Lato', sans-serif; font-size:15px;line-height:23px; margin-top:0; margin-bottom:20px; padding:0;
                                  font-weight:normal;text-align:left;">Spread the word - Share <a href="my_hostings" target="_blank" style="color:#da2617;
                                  text-decoration:none; font-weight:bold"> momentarily</a> with your network </p>

                                <p style="color: #4a4b4d; line-height: 24px; text-align:left; font-size:15px;">Let's build something extraordinary for our community together!</p>
                                <p style="font-family:'Lato', sans-serif; margin-bottom:0px; font-size: 15px;"><b>Derek</b></p>
                                <p style="font-family: 'Lato', sans-serif; margin-top:0; font-size: 15px;">Founder</p>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" valign="middle" style="text-align: center;">
                                <a style="text-decoration: none; display: inline-block; margin-bottom:15px;  font-weight: 400; " href="my_hostings/Home/HowItWorks" target="_blank"><img style="max-width:250px; width:100%;" src="my_hostings/Content/TemplateImg/images/Learn-more.jpg" alt="" /></a>
                            </td>
                        </tr>
                    </table>

                    <table align="center" valign="middle" cellpadding="0" cellspacing="0" border="0" style=" overflow:hidden; max-width: 580px;  box-sizing: border-box; margin:0 15px; padding:0;">

                        <tr style=" box-sizing: border-box; background-color: #ffffff; height:25px">
                            <td style="text-align:center;">&nbsp;</td>
                        </tr>

                        <tr style=" box-sizing: border-box; background-color: #cf281f;">
                            <td style="text-align:center;">
                                <a href="my_hostings/Listing/Create" style="box-sizing: border-box; color:#fff; padding: 10px;text-transform: uppercase; margin:0px; width: 100%; float: left; font-size: 22px; text-align: center; text-decoration: none; height:40px;">Share Now</a>
                            </td>
                        </tr>
                        <tr style=" box-sizing: border-box; background-color: #f1f1f1; height:22px">
                            <td style="text-align:center;">&nbsp;</td>
                        </tr>
                        <tr style=" box-sizing: border-box; background-color: #f1f1f1;">
                            <td align="center" valign="middle">

                                <table border="0" cellspacing="0" cellpadding="0" style="background-color: #f1f1f1; max-width: 580px; width:100%; font-family:'Lato', sans-serif; padding-top: 20px; margin:0; padding:0;">

                                    <tr style=" width:100%; background-color: #f1f1f1;  padding:0; box-sizing: border-box;">
                                        <td width="193" style=" text-align: center; padding: 0 10px; box-sizing: border-box; ">
                                            <a href="my_hostings/Search/Map" style="justify-content: center; width: 100%; display: inline-block; text-align: center;  background-color: #fff; border: 1px solid #e7e7e7;">
                                                <img style=" width:100%; margin: auto; " src="$Fashion$" alt="svg image">
                                            </a>
                                            <p style="text-align: center; margin-top: 5px; margin: 0px; color: #4a4b4d;font-size: 13px; height: 40px; word-break: break-word;">Clothing/Fashion<br>&nbsp;</p>
                                        </td>
                                        <td width="193" style=" text-align: center; padding: 0 10px; box-sizing: border-box; ">
                                            <a href="my_hostings/Search/Map" style="justify-content: center; width: 100%; display: inline-block; text-align: center;  background-color: #fff; border: 1px solid #e7e7e7;">
                                                <img style=" width:100%; margin: auto; " src="$Education$" alt="svg image">
                                            </a>
                                            <p style="text-align: center; margin-top: 5px; margin-bottom: 0px; color: #4a4b4d;font-size: 13px;  height: 40px; word-break: break-word;">Education<br>&nbsp;</p>
                                        </td>
                                        <td width="193" style=" text-align: center; padding: 0 10px; box-sizing: border-box; ">
                                            <a href="my_hostings/Search/Map" style="justify-content: center; width: 100%; display: inline-block; text-align: center;  background-color: #fff; border: 1px solid #e7e7e7;">
                                                <img style=" width:100%; margin: auto; " src="$Electronics$" alt="svg image">
                                            </a>
                                            <p style="text-align: center; margin-top: 5px; margin-bottom: 0px; color: #4a4b4d; font-size: 13px; height: 40px; word-break: break-word;">Electronics<br>&nbsp;</p>
                                        </td>
                                    </tr>

                                    <tr style=" width: 100%; background-color: #f1f1f1;  padding:0; box-sizing: border-box;">
                                        <td width="193" style=" text-align: center; padding: 0 10px; box-sizing: border-box; ">
                                            <a href="my_hostings/Search/Map" style=" justify-content: center; width:100%; display: inline-block; text-align: center;  background-color: #fff; border: 1px solid #e7e7e7;">
                                                <img style=" width:100%; margin: auto; " src="$Home$" alt="svg image">
                                            </a>

                                            <p style="text-align: center; margin-top: 5px; margin-bottom: 0px; color: #4a4b4d; font-size: 13px; height: 40px; word-break: break-word;">Home<br>&nbsp;</p>
                                        </td>
                                        <td width="193" style=" text-align: center; padding: 0 10px; box-sizing: border-box; ">
                                            <a href="my_hostings/Search/Map" style="justify-content: center; width: 100%; display: inline-block; text-align: center;  background-color: #fff; border: 1px solid #e7e7e7;">
                                                <img style=" width:100%; margin: auto; " src="$Kitchen$" alt="svg image">
                                            </a>
                                            <p style="text-align: center; margin-top: 5px; margin-bottom: 0px; color: #4a4b4d; font-size: 13px; height: 40px; word-break: break-word;">Kitchen/Fashion<br>&nbsp;</p>
                                        </td>
                                        <td width="193" style=" text-align: center; padding: 0 10px; box-sizing: border-box; ">
                                            <a href="my_hostings/Search/Map" style="justify-content: center; width: 100%; display: inline-block; text-align: center;  background-color: #fff; border: 1px solid #e7e7e7;">
                                                <img style=" width:100%; margin: auto; " src="$Outdoors$" alt="svg image">
                                            </a>
                                            <p style="text-align: center; margin-top: 5px; margin-bottom: 0px; color: #4a4b4d;font-size: 13px; height: 40px; word-break: break-word;">Leisure/Outdoors<br>&nbsp;</p>
                                        </td>
                                    </tr>

                                    <tr style=" width: 100%; background-color: #f1f1f1;  padding: 0; box-sizing: border-box;">
                                        <td width="193" style="text-align: center; padding: 0 10px; box-sizing: border-box; ">
                                            <a href="my_hostings/Search/Map" style=" justify-content: center; width: 100%;  display: inline-block; text-align: center; background-color: #fff; border: 1px solid #e7e7e7;">
                                                <img style="width:100%; margin: auto; " src="$Motorized$" alt="svg image">
                                            </a>
                                            <p style="text-align: center; margin-top: 5px; margin-bottom: 0px; color: #4a4b4d;font-size: 13px; height: 40px; word-break: break-word;">Space<br>&nbsp;</p>
                                        </td>
                                        <td width="193" style=" text-align: center; padding: 0 10px; box-sizing: border-box; ">
                                            <a href="my_hostings/Search/Map" style=" display: inline-block; text-align: center; justify-content: center; width: 100%; background-color: #fff; border: 1px solid #e7e7e7;">
                                                <img style=" width:100%; margin: auto; " src="$Tools1$" alt="svg image">
                                            </a>
                                            <p style="text-align: center; margin-top: 5px; margin-bottom: 0px; color: #4a4b4d; font-size: 13px; height: 40px; word-break: break-word;">Tools<br>&nbsp;</p>
                                        </td>
                                        <td width="193" style=" text-align: center; padding: 0 10px; box-sizing: border-box;">
                                            <a href="my_hostings/Search/Map" style=" display: inline-block; text-align: center; justify-content: center; width: 100%; background-color: #fff; border: 1px solid #e7e7e7;">
                                                <img style=" width:100%; margin: auto; " src="$Events$" alt="svg image">
                                            </a>
                                            <p style="text-align: center; margin-top: 5px; margin-bottom: 0px; color: #4a4b4d;font-size: 13px; height: 40px; word-break: break-word;">Events <br>&nbsp;</p>
                                        </td>
                                    </tr>

                                </table>

                            </td>
                        </tr>

                    </table>


                </td>
            </tr>
            <tr style=" box-sizing: border-box; background-color: #fff; height:22px">
                <td style="text-align:center; border-left:1px solid #eee; border-right:1px solid #eee;">&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <table align="center" valign="center" cellpadding="0" cellspacing="0" border="0" style="max-width:610px;width:100%;overflow:hidden;background-color:#cc2f20;padding:30px 20px 0px;box-sizing:border-box">
                        <tbody>
                            <tr>
                                <td>
                                    <p style="text-align:center;height:30px;overflow:hidden;margin:0">
                                        <a href="https://www.instagram.com/momentarily/" style="text-decoration:none;display:inline-block;margin:0 5px" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.instagram.com/momentarily/&amp;source=gmail&amp;ust=1679036041909000&amp;usg=AOvVaw0OZFEtYo2LOAj9pduYCcnf"><img alt="image" border="0" src="https://ci5.googleusercontent.com/proxy/x1Q_RV_dQ3jKloFJ9XufwiynpU9rnT8Ot6eyiphfWu_YBnMddRCnhiLAHYbXZFSY13sHOdo8GVAF4bSU76lolckwHQrDWaGWNOzQNE101hPvClzGbF17fg=s0-d-e1-ft#https://localhost:44302/Content/TemplateImg/images/instaiconwhite.png" height="auto" width="28" style="outline:none;color:#ffffff;display:block;text-decoration:none;border-color:#ececec" class="CToWUd" data-bit="iit" jslog="138226; u014N:xr6bB; 53:W2ZhbHNlLDJd"></a>
                                        <a href="https://www.facebook.com/momentarily" style="text-decoration:none;padding:0;display:inline-block;margin:0 5px" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.facebook.com/momentarily&amp;source=gmail&amp;ust=1679036041909000&amp;usg=AOvVaw3oKwo-emWrUaknJnRihm5m"><img alt="image" border="0" src="https://ci6.googleusercontent.com/proxy/a1CmGk1MjtG6RLe3kLJHVLjeJ5APxJkRr6A7ZA9YqRWV2eGkIslLPh5LxEcJtaLIw01VA3N8YCCvkEboO55qotC1cA14ejv18zGHQyuqhITpPMBdZA=s0-d-e1-ft#https://localhost:44302/Content/TemplateImg/images/fbiconwhite.png" height="auto" width="28" style="outline:none;color:#ffffff;display:block;text-decoration:none;border-color:#ececec" class="CToWUd" data-bit="iit" jslog="138226; u014N:xr6bB; 53:W2ZhbHNlLDJd"></a>
                                        <a href="https://twitter.com/momentarilycom" style="text-decoration:none;padding:0;display:inline-block;margin:0 5px" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://twitter.com/momentarilycom&amp;source=gmail&amp;ust=1679036041909000&amp;usg=AOvVaw0FgZR035-0sNoUXTMm3jGF"><img alt="image" border="0" src="https://ci3.googleusercontent.com/proxy/5RRKXyVSBPTo7lK4Hrergs7ZXkyRrzgGxuXOkIpR0OJhWNF94GA4Q14e9r69g3WQQ7_8PmFYQR5AG9MeWEgYC4R8Wr7C3HNhihDdy4wiy9OdVuOD36oSm3WF=s0-d-e1-ft#https://localhost:44302/Content/TemplateImg/images/twittericonwhite.png" height="auto" width="28" style="outline:none;color:#ffffff;display:block;text-decoration:none;border-color:#ececec" class="CToWUd" data-bit="iit" jslog="138226; u014N:xr6bB; 53:W2ZhbHNlLDJd"></a>
                                        <a href="https://www.youtube.com/momentarily" style="text-decoration:none;padding:0;display:inline-block;margin:0 5px" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.youtube.com/momentarily&amp;source=gmail&amp;ust=1679036041910000&amp;usg=AOvVaw3C0W5nIcpQNMg_mxoJU-ws"><img alt="image" border="0" src="https://ci6.googleusercontent.com/proxy/Z0xoDb2HBEm5EHDMpyYaD5eUb5aXVpuBJG021-toA5vQqeTe63YrkYrIHqUkMw4WIkj8P6TGu4ZXCn-_dr7xsQgscRtnYoTF3dnvBWQjnH4q=s0-d-e1-ft#https://localhost:44302/Content/TemplateImg/images/youtube.png" height="auto" width="28" style="outline:none;color:#ffffff;display:block;text-decoration:none;border-color:#ececec" class="CToWUd" data-bit="iit" jslog="138226; u014N:xr6bB; 53:W2ZhbHNlLDJd"></a>
                                        <a href="https://www.pinterest.com/momentarilycom/" style="text-decoration:none;padding:0;display:inline-block;margin:0 5px" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.pinterest.com/momentarilycom/&amp;source=gmail&amp;ust=1679036041910000&amp;usg=AOvVaw3472o202gHs-Y1w89eJX_Z"><img alt="image" border="0" src="https://ci6.googleusercontent.com/proxy/DVwYBRplngJe_arg7YCosWlMmrfoRfiH8OTMXWaN9aB06Ipfff6ei8vfG5pI2MjXJWXAzifeG7QJO4qyhU4_sdGISHs5XC5xsz3z2BUEKoCUxEo=s0-d-e1-ft#https://localhost:44302/Content/TemplateImg/images/pinterest.png" height="auto" width="28" style="outline:none;color:#ffffff;display:block;text-decoration:none;border-color:#ececec" class="CToWUd" data-bit="iit" jslog="138226; u014N:xr6bB; 53:W2ZhbHNlLDJd"></a>
                                    </p>
                                    <p style="color: #fff; font-family: 'Lato',sans-serif; font-size: 15px; line-height: 15px; margin-top: 5px; margin-bottom: 0px; padding: 0; font-weight: normal; text-align: center">
                                        <a href="https://localhost:44302" style="color: #cc2f20;text-decoration:none;font-family:'Lato',sans-serif;font-size: 12px;" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://localhost:44302&amp;source=gmail&amp;ust=1679036041910000&amp;usg=AOvVaw1BqMN-HitvuIq9FbAz1Av6">www.momentarily.com </a>
                                    </p>
                                    <p style="color: #fff; font-size: 10px; line-height: 15px; margin: 0; padding: 0; font-weight: normal; text-align: center; font-family: 'Lato',sans-serif">2023 momentarily <sup> TM </sup></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table align="center" valign="center" cellpadding="0" cellspacing="0" border="0" style="max-width:610px;width:100%;overflow:hidden;background-color:#cc2f20;padding:0px;box-sizing:border-box">
                        <tbody>
                            <tr>
                                <td>
                                    <p style="color: #cc2f20;font-size:5px;line-height:15px;margin:0;padding:0;font-weight:normal;text-align:center;font-family:'Lato',sans-serif;opacity:0;">1007 N Sepulveda Blvd #0293, Manhattan Beach, CA 90267</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table align="center" valign="center" cellpadding="0" cellspacing="0" border="0" style="max-width:610px; width:100%; overflow:hidden; background-color:#bc1717; padding: 8px 15px; box-sizing: border-box;">
                        <tr style="text-align:center;">
                            <td style="text-align:center;">
                                <a href="UnsubscribeLink" style="text-align:center; color: #fff; font-size:14px;  text-transform: capitalize; text-decoration: none; letter-spacing: 1px;">Unsubscribe</a>
                            </td>
                        </tr>

                    </table>
                </td>
            </tr>
        
        </table>
    </div>
</body>
</html>