@model Momentarily.ViewModels.Models.PayResult
@if (!string.IsNullOrWhiteSpace(Model.Message))
{
    <div class="alerts">
        @if (!Model.IsError)
        {
            <div class="alert-success">@Model.Message</div>
        }
        else
        {
            <div class="alert-error">@Model.Message</div>
        }
    </div>
}

