/*  Final Feedback   */


.gj-datepicker-bootstrap [role=right-icon] button {
    height: 35px !important;
}


.ui-timepicker-standard {
    z-index: 10000 !important;
}

#ReturnDate {
    width: 100%;
}

#ReturnTime {
    width: 100%;
}

#Claim {
    width: 100%;
}

#Description {
    width: 100%;
}

.popupTabbing .nav-tabs {
    border-bottom: none;
    text-align: center;
}

    .popupTabbing .nav-tabs > li {
        float: none;
        display: inline-block;
        max-width: 140px;
        width: 100%;
    }

        .popupTabbing .nav-tabs > li.active > a, .popupTabbing .nav-tabs > li.active > a:hover, .popupTabbing .nav-tabs > li.active > a:focus {
            border: none;
        }

        .popupTabbing .nav-tabs > li.active > a, .popupTabbing .nav-tabs > li > a:hover {
            background-color: #cf2d1e;
            color: #fff;
            border: none;
        }

        .popupTabbing .nav-tabs > li > a {
            border: none;
            border-radius: 3px;
            padding: 5px 15px;
            color: #333;
            font-size: 13px;
            background-color: rgba(0,0,0,0.04);
        }

            .popupTabbing .nav-tabs > li > a i {
                display: none;
                margin-right: 5px;
            }

            .popupTabbing .nav-tabs > li > a:hover i, .popupTabbing .nav-tabs > li.active > a i {
                display: inline-block;
            }

.tab-content {
    border: 1px solid rgba(0,0,0,0.08);
    padding: 20px;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px;
}

.popupTabbing .discriptionExt {
    margin-top: 20px;
    text-align: left;
}

    .popupTabbing .discriptionExt h3 {
        margin: 40px 0 15px;
    }

.popupTabbing .tab-content i {
    margin-right: 5px;
    color: #cf2d1e;
}

.popupTabbing .tab-content h3 {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.2px;
    width: 100%;
    margin: 0 0 10px;
}

.popupTabbing .iconText {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.innerValues {
    font-size: 13px;
}


.popupTabbing {
    display: inline-block;
    width: 100%;
}

    .popupTabbing button#btnSubmit {
        margin: 20px 0 0;
    }

    .popupTabbing .check-box {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        color: #000;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        font-size: 16px;
        font-weight: 600;
        margin: 0 15px;
    }

    .popupTabbing .tabBbuttonList {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    /* Hide the browser's default checkbox */
    .popupTabbing .check-box input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    /* Create a custom checkbox */
    .popupTabbing .checkmark {
        position: absolute;
        top: -3px;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
    }

    /* On mouse-over, add a grey background color */
    .popupTabbing .check-box:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .popupTabbing .check-box input:checked ~ .checkmark {
        background-color: #cf2d1e;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .popupTabbing .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .popupTabbing .check-box input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .popupTabbing .check-box .checkmark:after {
        left: 9px;
        top: 7px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }


/*  Booking   */
#ReturnConfirmModal .modal-body {
    position: relative;
    padding: 30px;
    text-align: center;
    background-color: #fff
}

#ReturnConfirmModal .modal-content {
}

#ReturnConfirmModal h4.modal-title {
    font-size: 30px;
    /*font-weight: bold;*/
    color: #575f62;
    font-family: Arial, Helvetica, sans-serif;
}

#ReturnConfirmModal h4.modal-title2 {
    font-size: 18px;
    color: #252323 !important;
}

#ReturnConfirmModal .close {
    position: absolute;
    right: 20px;
    top: 11px;
    opacity: 1;
    font-size: 40px;
    z-index: 11;
    color: #9f9f9f;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus {
    border: 1px solid #cf2d1e !important;
    background: #cf2d1e !important;
    font-weight: bold !important;
    color: #fff !important;
}



.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    border: 1px solid #cf2d1e;
    background: #cf2d1e !important;
    font-weight: normal;
    color: #fff;
}

/*  Create   */



.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    float: right;
}

.select2-container--default .select2-selection--multiple {
    border: solid 1px #ebebeb;
}

.error-priceDay {
    color: #FF1D25;
    font-size: 12px;
    font-weight: 600;
    padding: 0 15px;
}

.error-priceWeek {
    color: #FF1D25;
    font-size: 12px;
    font-weight: 600;
    padding: 0 15px;
}

.ui-timepicker-standard {
    z-index: 100 !important;
}

.listing-container.createlist label {
    white-space: pre-wrap;
}
.toast-error {
    background-color: #cf2d1e !important;
}
/*  Edit   */


/*     */
