/* Item  */

 .container-search-item .item-images.image-thumbnail .item-image {
    display: inline-block;
    width: 16.66%;
}

#mymap {
    width: 100%;
    height: 300px;
    margin-top: 40px;
    margin-bottom: 10px;
}

#map {
    width: 100%;
    height: 100%;
    min-height: 300px;
}


.sociallinks {
    font-size: 25px;
    float: right;
    padding-top: 15px;
    padding-right: 30px;
    margin-bottom: 10px;
}

#cleardates {
    font-size: 15px;
    cursor: pointer !important;
    color: #337ab7 !important;
}

.ui-datepicker-calendar > tbody > tr .selecteddate a {
    background-color: red !important;
    color: white !important;
}

.ui-datepicker-calendar > tbody {
    pointer-events: none;
}

.ui-widget.ui-widget-content {
    width: 100%;
    background: #fff;
    margin-bottom: 10px;
    /*border:none !important*/
}

.ui-datepicker .ui-datepicker-calendar .ui-state-highlight a {
    background: #fff !important;
    color: #0e0e0e !important;
    text-align: center;
    font-weight: bolder !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 1px solid #ffffff !important;
    background: white !important;
    text-align: center;
    color: #cbc7bd !important;
    background: #fff;
    border: white;
    font-size: 12px !important
}

    .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus {
        border: none !important;
        background: #d6cfcf !important;
        font-weight: bold;
        color: #ffffff;
    }

table.ui-datepicker-calendar {
    /*pointer-events: none;*/
}

.ui-widget-header {
    border: none !important;
    background: #fff !important;
    color: #565a5c !important;
}

.ui-datepicker-calendar td {
    background: #fff;
    border: 0px solid transparent !important;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: #fff !important;
    background: #fff !important;
    /*color: #3a3427;*/
}

#myModal .modal-body {
    background-color: #fff;
    padding: 15px 15px !important;
}

#myModal h4.modal-title {
    font-size: 19px;
    color: #453821;
    margin-bottom: 10px !important;
}

.modal-dialog {
    width: 400px;
}

.couponHideShow {
    padding-left: 10px;
}

.ui-datepicker td {
    padding: 0px !important;
}

.ui-datepicker th {
    color: #82888a;
}


/* Map  */
