<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <sectionGroup name="Sendy.Net">
      <section name="Settings" type="Sendy.Net.Config.AppConfig, Sendy.Net" />
    </sectionGroup>
    <section name="paypal" type="PayPal.SDKConfigHandler, PayPal" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <Sendy.Net>
    <Settings>
      <Sendy InstallationUrl="http://sendy.momentarily.com" ApiKey="aLQ19z2JRZ8goYekv5DM" />
    </Settings>
  </Sendy.Net>
  <!-- PayPal SDK settings -->
  <paypal>
    <settings>
      <add name="mode" value="sandbox" />
      <!--<add name="mode" value="live"/>-->
      <add name="connectionTimeout" value="360000" />
      <add name="requestRetries" value="1" />
      <add name="clientId" value="ARTpst8oYGiCxeqM3rcIlCeJamUBrvCxULe5k9CktKVOqN8Y3eg6V80b9M-5nVsbRGt3Kjb6Oxe5CRUt" />
      <add name="clientSecret" value="EPx3BManvsK4En8X9KlxZq7JZGG-Nkdj924h7AVR3-HYvp9N0kf1g6dx9YBgWucLNCs5wQyFZK5JwT5b" />
      <!--<add name="clientId" value="ASsH5J7lwzcXvH6Gnnjcw0bprtiIX60ecF6_EibmW-vgGyn37OJQ9qkCrxRk9Qy41XJffCvJU5MjwEPa"/>
      <add name="clientSecret" value="EIXyZLCpvJRZ7z4DiMbkt9xb2FPEJZodGroap20SVVeGei21JcpKAOGoT1OW6xvp-KfUba3U9IuUL-VU"/>-->
    </settings>
  </paypal>
  <!-- log4net settings -->
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="my_app.log" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date       [%thread] %-5level %logger [%property{NDC}] %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>
  <connectionStrings>
    <!--<add name="Mssqlconnectionstring" connectionString="Data Source=eva.empeek.net,55483;Initial Catalog=Momentarily;User ID=;Password=;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
    <!--<add name="Mssqlconnectionstring" connectionString="Data Source=DESKTOP-R5VAJ5R;Initial Catalog=Momentarily;integrated security=true;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
	  <!--<add name="Mssqlconnectionstring" connectionString="Data Source=localhost;Initial Catalog=Momentarily;integrated security=true;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
    <add name="Mssqlconnectionstring" connectionString="Data Source=DESKTOP-B9IO2DQ\SQLEXPRESS;Initial Catalog=MomentarilyBeta;integrated security=true;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <!--<add name="Mssqlconnectionstring"
               connectionString="data source=.;
   Initial Catalog=Momentarily;Integrated Security=True;"
               providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="Module" value="Apeek,Momentarily" />
    <add key="ImageLocalStoragePath" value="~/Content/Images/" />
    <add key="GoodImageLocalStoragePath" value="~/Content/Images/Good/" />
    <add key="GoodImageCovidLocalStoragePath" value="~/Content/covid-image/" />
    <add key="Google.ClientID" value="412892218837-0b423ccr4uhhpsuncgmil5gk6vjlq1ar.apps.googleusercontent.com" />
    <add key="Google.SecretKey" value="dVDX1j_3DGSY1rAmQebAP1xD" />
    <add key="Google.RedirectUrl" value="https://localhost:44302/Account/SaveUser" />
    <add key="Google.RedirectUrlForLogin" value="https://localhost:44302/Account/LoginUser" />
    <!--<add key="Google.RedirectUrl" value="https://www.momentarily.com/Account/SaveUser" />
    <add key="Google.RedirectUrlForLogin" value="https://www.momentarily.com/Account/LoginUser" />-->
    <add key="PayPalLogger" value="PayPal.Log.Log4netLogger" />
    <!--<add key="server_ip" value="35.223.101.132" />-->

	  <!--<add key ="OTPRequestAllowed" value="3" />
	  <add key ="CaptchaSitekey" value="6LflWFwlAAAAAN7I5Bn9SAWscc2iqY8idFI4vf7p" />
	  <add key ="CaptchaSecretKey" value="6LflWFwlAAAAAJkRVzNmArk9b89sRBLfGqh6l_u7" />-->

    <add key="OTPRequestAllowed" value="3" />
    <add key="CaptchaSitekey" value="6LfAXX4lAAAAAMX4Raqf6rqlmK7b9i5tiWj2nmAT" />
    <add key="CaptchaSecretKey" value="6LfAXX4lAAAAAEoL2tGQmUxXnUv86Ws_hsnqEZIz" />
    
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
         <add assembly="netstandard, Version=2.0.0.0, Culture=neutral,              PublicKeyToken=cc7b13ffcd2ddd51" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" />
    </authentication>
    <httpRuntime maxRequestLength="1073741824" targetFramework="4.5.2" />
    <trust level="Full" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.OAuth" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.OAuth.Consumer" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.OpenId" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.OpenId.RelyingParty" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <staticContent>
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/x-woff2" />
      <mimeMap fileExtension=".scss" mimeType="text/plain" />
    </staticContent>
    <!--<httpProtocol>
      <customHeaders>
        <clear />
        <add name="X-UA-Compatible" value="IE=11" />
      </customHeaders>
    </httpProtocol>-->
    <!--<rewrite>
      <rules>
        <rule name="Redirect to non-www" stopProcessing="true">
          <match url="(.*)" negate="false"></match>
          <action type="Redirect" url="http://momentarily.com/{R:1}"></action>
          <conditions>
            <add input="{HTTP_HOST}" pattern="^momentarily\.com$" negate="true"></add>
          </conditions>
        </rule>
      </rules>
    </rewrite>-->
  </system.webServer>
</configuration>