<div style="font-family: arial;font-size:13px;">
Здравствуйте.<br>

Ваш почтовый ящик был указан при подаче обьявления:
    <br/><br/>
Чтобы подтвердить заявку - перейдите по ссылке ниже:<br/>

{verification-url}<br/><br/><br/><br/>

              С уважением,<br/>
              Команда поддержки <b>Tophands</b><br/>
              www.tophands.org
                <br/>
              <br/>
              
            

              <div style="font-size:11px;color:#ccc;font-style: italic">
                  ________________________________________________<br />
                  Это письмо сгенерированно автоматически,
                  <br/> если вы не отправляли заявку - просто проигнорируйте это письмо.
              </div>

</div>