

/*--subscribe css--*/

.subscribe {
    background-image: url(../OtherImages/subscribebanner.jpg);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 64px 0 78px 0;
}

.subscribeInner {
	width: 100%;
	max-width: 650px;
	margin: 0 auto;
	text-align: center;
	position: relative;
	z-index: 2;
}

.subscribeInner h4 {
	margin: 0 0 6px 0;
	font-size: 30px;
	color: #fff;
	font-weight: 400;
}

.subscribeInner p {
	margin: 0 0 30px 0;
	font-size: 16px;
	color: #fff;
	font-weight: 300;
}

.subscribeInner .form-control {
	height: 50px;
	border-color: #ffffff;
	border-radius: 8px;
	border: 0px solid;
}

.subscribeInner .btn {
	min-height: 50px;
	border-radius: 8px;
	background: #d74b43;
	color: #fff;
	font-weight: 600;
	padding: 6px 34px;

}

.subscribeInner .btn:focus {
	outline: none;
}


/*--footer css--*/

.footer {
	background-color: #495251;
	padding: 73px 0 50px 0;
}

.footerDesc h5 {
	font-size: 20px;
	color: #fff;
	line-height: 26px;
	font-weight: 400;
	margin: 0 0 12px 0;
}

.footerDesc p {
	font-size: 14px;
	color: #fff;
	line-height: 23px;
	font-weight: 400;
	opacity: 0.6;
}

.footerDesc ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.footerDesc ul li {
	font-size: 14px;
	line-height: 28px;
	font-weight: 400;
}

.footerDesc ul li a:hover,
.footerDesc ul li a:focus {
	text-decoration: none;
	opacity: 1;
}

.footerDesc ul li a {
	color: #fff;
	opacity: 0.6;
}

.footerDesc ul li a i {
	padding: 0 8px 0 0;
}

.footerDesc ul.socialLinks {
	margin: 14px 0 0 0;
}

.footerDesc ul.socialLinks li {
	width: auto;
	display: inline-block;
	font-size: 18px;
	margin: 0 7px 0 0;
}

.footerDesc ul.socialLinks li a {
	color: #fff;
	opacity: 1;
}

.footerDesc ul.socialLinks li a i {
	color: #fff;
	opacity: 1;
}

.copyright {
	background-color: #565a59;
	padding: 10px 0;
}

.copyrightDesc {
	width: 100%;
}

.copyrightDesc ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.copyrightDesc ul li {
	width: auto;
	display: inline-block;
	margin: 0 20px 0 0;
	font-size: 13px;
}

.copyrightDesc ul li a:before {
	content: "";
	background: rgba(255, 255, 255, 0.6);
	top: 0;
	width: 1px;
	height: 100%;
	position: absolute;
	right: -13px;
}

.copyrightDesc ul li:last-child a:before {
	width: 0px;
}

.copyrightDesc ul li a {
	color: #fff;
	opacity: 0.6;
	position: relative;
}

.copyrightDesc ul li a:hover {
	text-decoration: none;
	opacity: 1;
}

.copyrightDesc p {
	margin: 0;
	text-align: right;
	color: #fff;
	opacity: 0.6;
	font-size: 13px;
}


