.mainClass{
    margin: 59px 0 0 0 !important;
}
.tpHeaderSpace {
    margin: 59px 0 0 0 !important;
    display: inherit;
}
@media(min-width:768px){
    .mainClass {
        min-height: calc(100vh - 70px);
    }
 }

.topHeader {
    padding: 10px 0;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

    .topHeader .navbar {
        margin-bottom: 0px;
        min-height: auto;
    }

    .topHeader .navbar-brand {
        float: left;
        height: auto;
        padding: 0px;
    }

    .topHeader ul.nav.navbar-nav {
        padding-top: 2px;
        margin-right: 0;
    }

    .topHeader .navbar-nav > li > a {
        font-size: 12px;
        font-weight: 500;
        transition: .1s all ease-out;
        color: #49525c;
        text-transform: uppercase;
        padding: 4px 12px;
        letter-spacing: 0.2px;
    }

    .topHeader .navbar-nav > li.becomeNav > a {
        color: #fff;
        background-color: #cf2d1e;
        border: 1px solid #cf2d1e;
        padding: 4px 12px;
    }

    .topHeader .navbar-nav > li:last-child.becomeNav {
        margin: 0;
    }

    .topHeader .navbar-nav > li.becomeNav {
        margin: 0 15px 0 0;
    }

    .topHeader .navbar .navbar-header button {
        margin: 0;
    }

        .topHeader .navbar .navbar-header button img {
            margin: 0;
            width: 20px;
            position: relative;
            top: 0px;
        }

.nav > li > a:focus,
.nav > li > a:hover {
    text-decoration: none;
    background-color: transparent;
}

.topHeader .navbar-nav > li.dropdown.dropNav {
    border: medium none;
    padding-left: 11px;
    text-align: right;
    width: 190px;
    padding-right: 12px;
}

.dropNav img {
    display: table-cell;
    margin-right: 0px;
    left: 0 !important;
    float: right;
    border-radius: 50%;
    margin-left: 10px;
    max-width: 35px;
    border: 1px solid #eee;
}

.topHeader .navbar-nav > li.dropdown.dropNav > a {
    vertical-align: middle;
    padding: 5px 0;
    /* display: table-cell; */
    /* width: 125px; */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.topHeader .navbar-right .dropdown-menu {
    left: auto;
    padding: 0;
    right: -15px;
    margin: 15px 0 0;
    border: 0px;
}

    .topHeader .navbar-right .dropdown-menu::before {
        background: rgba(0, 0, 0, 0) url(../OtherImages/whiteiconarror.png) no-repeat scroll left top;
        bottom: 0;
        content: "";
        height: 8px;
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        top: -8px;
        width: 16px;
    }

.topHeader .dropdown-menu {
    min-width: 220px;
}

    .topHeader .dropdown-menu > li > a {
        border-bottom: 1px solid #eee;
        padding: 15px 20px;
        font-size: 14px;
        color: #555555;
    }

        .topHeader .dropdown-menu > li > a:hover, .topHeader .dropdown-menu > li.active a {
            color: #fff;
            background-color: #cf2d1e;
        }

.topHeader .nav .open > a,
.topHeader .nav .open > a:focus,
.topHeader .nav .open > a:hover {
    background-color: transparent;
    border-color: #337ab7;
}

/*--mobile menu css --*/

#offcanvas-toggler>i:hover {
	color: #fff
}

.offcanvas-menu {
	background-color: #fff;
}

#offcanvas-toggler {
	float: right;
    padding: 4px 10px;
}

#offcanvas-toggler>i {
	display: inline-block;
	padding: 0 0 0 10px;
	font-size: 21px;
	background: 0 0;
	margin: 0;
	line-height: 115px;
	cursor: pointer;
	color: #fff;
	-webkit-transition: all .3s;
	transition: all .3s
}

body.offcanvas:before {
	opacity: 1;
	z-index: 999
}

.body-innerwrapper {
	position: relative;
	overflow-x: hidden;
	-webkit-transition: right .35s;
	transition: right .35s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
	right: 0
}

body.offcanvas .body-innerwrapper {
	right: 320px
}

.close-offcanvas {
	position: absolute;
	top: 15px;
	right: 15px;
	z-index: 1;
	border-radius: 100%;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 16px;
	color: #fff;
	background: rgba(0, 0, 0, .2)
}

.close-offcanvas:hover {
	background: rgba(0, 0, 0, .5);
	color: #fff
}

.offcanvas-menu {
	width: 320px;
	height: 100%;
	position: fixed;
	top: 0;
	right: -320px;
	color: #fff;
	z-index: 99999;
	overflow-y: scroll;
	-webkit-transition: right .35s;
	transition: right .35s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.offcanvas .offcanvas-menu {
	right: 0
}

body.offcanvas {
	width: 100%;
	height: 100%;
	overflow: hidden
}

.offcanvas-menu .offcanvas-inner {
	padding: 20px
}

.offcanvas-menu .offcanvas-inner .title {
	text-transform: lowercase;
	font-size: 16px;
	color: #000;
}

.offcanvas-menu .offcanvas-inner ul>li {
	border: 0;
	position: relative;
	border-bottom: 1px solid rgba(0, 0, 0, .1)
}

.offcanvas-menu .offcanvas-inner ul>li a {
	-webkit-transition: all .3s;
	transition: all .3s;
	padding: 10px 0px;
	color: #000;
	text-transform: capitalize;
	display: block;
	font-size: 14px
}

.offcanvas-menu .offcanvas-inner .active>a,
.offcanvas-menu .offcanvas-inner ul>li a:hover {
	background-color: transparent;

	text-decoration: none;
}

.offcanvas-menu .offcanvas-inner ul>li ul>li:last-child {
	border-bottom: none
}

.offcanvas-menu .offcanvas-inner ul>li .offcanvas-menu-toggler {
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px 20px;
	cursor: pointer
}

.offcanvas-menu .offcanvas-inner ul>li .offcanvas-menu-toggler .fa-plus {
	display: none
}

.offcanvas-menu .offcanvas-inner ul>li .offcanvas-menu-toggler .fa-minus {
	display: inline;
	color: #000;
}

.offcanvas-menu .offcanvas-inner ul>li .offcanvas-menu-toggler.collapsed .fa-plus {
	display: inline;
	color: #000;
}

.offcanvas-menu .offcanvas-inner ul>li .offcanvas-menu-toggler.collapsed .fa-minus {
	display: none;
	color: #000;
}

.offcanvas-menu .offcanvas-inner ul>li>a:after {
	display: none
}

.offcanvas-menu .offcanvas-inner ul>li ul {
	background: transparent;
	color: #000;
}


.offcanvas-menu .offcanvas-inner :first-child {
	margin-top: 0
}

.offcanvas-menu .offcanvas-inner>ul {
	margin: 0;
	padding: 0;
}

.offcanvas-menu .offcanvas-inner .search {
	margin-top: 40px
}

.offcanvas-menu .offcanvas-inner .search input {
	width: 100%;
	border-radius: 0;
	border: 0;
	box-shadow: none;
	-webkit-box-shadow: none
}

.offcanvas-menu .offcanvas-inner ul>li.becomeNav>a {
	color: #fff;
	background-color: #cf2d1e;
	border: 1px solid #cf2d1e;
}

.offcanvas-menu .offcanvas-inner ul>li.becomeNav {
	padding: 10px 0;
}

.offcanvas-menu .offcanvas-inner ul>li:last-child {
	border: 0
}

body.offcanvas .offcanvas-overlay {
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	opacity: 1;
	z-index: 20;
}

@media(max-width:767px) {
    .offcanvas-menu .offcanvas-inner ul > li ul {
        background: #fff;
        width: 100%;
        margin-left: 0px;
        position: relative;
        margin-bottom: 20px;
        box-shadow: none;
        border-left: none;
        border-right: none;
        border-top: none;
        list-style-type: circle;
    }
    .offcanvas-menu .offcanvas-inner li.dropdown.dropNav.covidMenu ul {
        padding-left: 25px;
    }

    .offcanvas-menu .offcanvas-inner li.dropdown.dropNav.covidMenu a {
        padding: 10px 0 !important;
    }

    .offcanvas-menu .offcanvas-inner li.dropdown.dropNav.covidMenu li a, li.dropdown.dropNav.covidMenu.afterLoginCovidMenu li a {
        padding: 7px 15px 7px 0 !important;
    }
    .offcanvas-menu .offcanvas-inner li.dropdown.dropNav.covidMenu span.fa.fa-angle-down {
        float: right;
        margin-right: 20px;
        font-weight: 600;
        top: 6px;
        position: relative;
    }
    .offcanvas-menu .offcanvas-inner ul > li .offcanvas-menu-toggler {
        display: inline-block;
        position: relative;
        top: -2px;
        right: 0;
        padding: 4px 20px;
        cursor: pointer;
        float: right;
    }
}
@media(max-width:991px) {

    li.becomeNav .btn {     min-width: 60px; 
    }
    li.becomeNav {
        margin-right:5px ;
    }
    .topHeader .navbar-brand {  max-width: 120px;
    }
    .topHeader .navbar-brand img{  max-width: 100%;
    }
    .topHeader .navbar-nav > li > a { padding: 4px 6px;
    }
    .topHeader .navbar-nav > li a#search_button {  padding: 2px 8px;
    }
    .topHeader .navbar-nav > li a#search_button img { width: 18px;
    }
    .topHeader .navbar-nav > li a#bell_button { padding: 2px 8px;
    }
    .topHeader .navbar-nav > li a#bell_button img { width: 18px;
    }
    .topHeader .navbar-nav > li a#message_button { padding: 2px 8px;
    }
    .topHeader .navbar-nav > li a#message_button img { width: 18px;
    }
}

@media(max-width:767px) {
    .navbar #myNavbar {
        display: none;
    }
}
