/*--responisve css--*/

@media (max-width:1366px) {
	.homeBanner {
		margin: -32px 0 0 0;
	}
}

@media (max-width:1280px) {
	.homeBanner {
		margin: -75px 0 0 0;
	}
}

@media (max-width:1199px) {
	.homeBanner {
		margin: 0 0 0;
	}
	.searchContainer {
		bottom: -130px;
	}
	.bottomBlock .btn {
		min-width: 106px;
		min-height: 120px;
	}
	.productDesc {
		min-height: 484px;
	}
	.videoInnerSection,
	.videoInnerSection1 {
		height: 484px;
	}
	.videoSection,
	.videoSection1 {
		height: 484px;
	}
	.videoInnerSection video,
	.videoInnerSection1 video {
		height: 484px;
	}
	.featureDesc h3 {
		font-size: 20px;
	}
	.blockIcons .iconBlock {
		padding: 20px 15px;
	}
	.iconBlock h3 {
		margin: 0 0 15px 0;
		font-size: 18px;
	}
	.iconBlock p {
		font-size: 14px;
		line-height: 22px;
	}
	.footerDesc ul li {
		font-size: 13px;
	}
	.sharersection {
	 left: -78px;
	}
	.sharersection:before {
		right: 22%;
	}
	.sharerHeading {
    left: 66%;
	}
	.listItems.sharer {
		max-width: 299px;
	}
	.listItems.sharer:after {
		width: 86%;
	}
	.borrowSection {
		padding: 0 0 63px 0;
	}
	.borrowSection:before {
		left:24%;
	}


	.listItems.borrower {
		margin-left: 92px;
		max-width: 355px;
	}
.arrowImage img {
    max-width: 66%;
}
}

@media (max-width:1023px) {
	.searchContainer {
		bottom: -142px;
	}
	.blockIcons .iconBlock {
		width: 33.33%;
		min-height: 290px;
		max-height: 290px;
	}
}

@media (max-width:991px) {
	.container {
		max-width: 100%;
		width: 100%;
	}
	.searchContainer {
		bottom: 29px;
		position: relative;
	}
	.searchContainer1 {
		padding: 50px 0 50px 0;
	}
	.bottomBlock .btn {
		min-width: 105px;
		min-height: 120px;
	}
	.productDesc {
		min-height: 484px;
		padding: 60px 35px 50px;
	}
	.productInnerDesc p {
		line-height: 24px;
	}
	.footer {
		padding: 35px 0 0px 0;
	}
	.footerDesc {
		margin: 0 0 30px 0;
	}
	.topHeader .navbar-nav>li.dropdown.dropNav {
		padding-left: 0;
		width: 180px;
		padding-right: 12px;
	}
	.topHeader .navbar-nav>li>a {
		padding: 4px 8px;
	}
	#search_button img {
		width: 16px;
	}
	.topHeader .navbar-nav>li:first-child>a {
		padding: 4px 0;
	}
	.listItems.sharer {
		max-width: 233px;
	}
	.listItems.sharer:after {
		width: 83%;
	}
	.sharersection {
    left: -44px;
    }
	.sharersection:before {
    right: 28%;
}
	.borrowSection {
	    padding: 0 0 67px 0;
	}
	.borrowSection img {
    left: 34px;
    } 
	.borrowSection:before {
		left: 25%;
	}
	.listItems.borrower {
		margin-left: 72px;
		max-width: 270px;
	}
	.listItems.borrower:after {
		width: 85%;
	}
	.howWorks-container {
		max-width: 768px;
		margin: 0 auto;
		width: 100%;
	}
	.sharerHeading {
		top: 60px;
    left: 56%;
    font-size: 22px;
	}
	.borrowHeading {
	    top: 65px;
    left: 105px;
    font-size: 20px;
	}
	.listItems.sharer.text-right p br {
		display: none;
	}
	.listItems.sharer.text-right p {
		max-width: 192px;
		text-align: right;
		margin: 0 0 0 45px;
	}
	.memberSectionImage h2 {
    font-size: 19px;
    top: 20px;
	}
	.signUp {
    margin: 48px auto 0;
	}
}

@media (max-width:767px) {
    .homeBanner {
        margin: 36px 0 0 0;
    }
	.productDesc {
		min-height: auto;
	}
	.productInnerDesc {
		width: 100%;
	}
	.videoSection,
	.videoSection1 {
		width: 100%;
	}
	.blockIcons .iconBlock {
		width: 50%;
		min-height: 290px;
		max-height: 290px;
	}
	.searchBlock .form-group {
		width: 100%;
	}
	.searchBlock .form-group:nth-child(2) {
		width: 100%;
	}
	.searchBlock .form-group:last-of-type {
		width: 100%;
		float: left;
	}
	.searchBlock .btn {
		width: 100%;
		height: 45px;
	}
	.searchBlock .form-group .form-control {
		height: 45px;
	}
	.footer {
		padding: 30px 0 30px 0;
	}
	.copyrightDesc {
		text-align: center;
		margin: 0 0 10px 0;
	}
	.copyrightDesc p {
		text-align: center;
		font-size: 13px;
	}
	.productDesc1 .owl-carousel .owl-nav {
		bottom: 84px;
	}
	.aboutUs .fRight {
		float: none;
		text-align: center;
	}
	.thumbImage {
		text-align: center;
	}
	.aboutIcons {
		margin: 0 0 30px 0;
	}
	.abtContent p,
	.abtContent h1 {
		text-align: center;
	}
	.productDesc {
		min-height: 350px;
	}
	.listItems.sharer {
		max-width: 100%;
		width: 50%;
		float: left;
	}
	.listItems.sharer.text-right,
	.listItems.sharer.text-left {
		text-align: center;
	}

	.listItems.borrower.text-left:before,
	.listItems.borrower.text-right:before,
	.listItems.sharer.text-left:before,
	.listItems.sharer.text-right:before,
	.listItems.borrower:after,
	.listItems.sharer:after {
		display: none;
	}
	.sharersection {
		text-align: center;
	}
	.sharersection:before {
		display: none;
	}
	.listItems.sharer p {
		text-align: center;
	}
	.listItems.sharer.text-right p {
		text-align: center;
		max-width: 100%;
		margin: 0;
	}
	.listItems.sharer:last-child {
		max-width: 100%;
		width: 100%;
	}
	.listItems.sharer:last-child p {
		max-width: 100%;
		width: 100%;
		margin: 0;
		text-align: center;
	}
	.listItems.sharer p br {
		display: block;
	}
	.listItems.sharer.text-right p br {
		display: block;
	}
	.borrowSection {
    text-align: center;
	}
	.borrowSection:before
	{
	display:none;
	}
	.listItems.borrower {
	max-width: 100%;
    width: 50%;
    float: left;
    margin: 0;
	}
	.listItems.borrower.text-right,
	.listItems.borrower.text-left {
		text-align: center;
	}
	.listItems.borrower:last-child {
		max-width: 100%;
		width: 100%;
	}
	.listItems.borrower:last-child p {
		max-width: 100%;
		width: 100%;
		margin: 0;
		text-align: center;
	}
	.sharerHeading {
        top: 63px;
        left: 50%;
        font-size:18px;
       }
    .borrowHeading {
        top: 65px;
        left: 43%;
        font-size: 18px;
    }
	.chargesDesc {	
    margin: 0 0 30px 0;
  }
	.signUp {
    margin: 46px auto 0px 38px;
    width: auto;
   }
	.memberSection img {
    max-width: 66%;
   }
	.signUp p {
    font-size: 24px;
    padding: 0 0 0 42px;
	}
	.howItWorks {
    padding: 20px 0;
    }
    .sharersection img {
        left: 0;
    }


}

@media (max-width:640px) {
	.footer .full {
		width: 100%;
		text-align: center;
	}
	.copyrightDesc {
		text-align: center;
		margin: 0 0 10px 0;
	}
	.copyrightDesc p {
		text-align: center;
		font-size: 13px;
	}
	.footerDesc {
		margin: 0 0 15px 0;
	}
	.signUp p {
    font-size: 20px;
    padding: 0 0 0 30px;
    }

}

@media (max-width:576px) {
	.searchContainer {
		margin: 0;
		padding: 0;
		bottom: 0px;
		position: relative;
	}
	.featureheading {
		;
		margin: 0 0 35px 0;
	}
	.blockIcons .iconBlock {
		width: 100%;
		min-height: inherit;
		max-height: inherit;
		border-top: 1px transparent;
		padding: 30px 15px;
	}
	.footerDesc {
		margin: 0 0 15px 0;
	}
	.bottomBlock .btn {
		width: 19%;
	}
	.fetauredProduct {
		padding: 50px 0 30px;
	}
	i.fa.fa-caret-right {
		display: none;
	}
	.videoInnerSection,
	.videoInnerSection1 {
		height: 300px;
	}
	.videoSection,
	.videoSection1 {
		height: 300px;
	}
	.videoInnerSection video,
	.videoInnerSection1 video {
		height: 300px;
	}
	.full {
		width: 100%;
	}
	.productDesc {
		min-height: 400px;
	}
	.signUp {
    width: 100%;
    text-align: center;
    margin: 36px 0 0 0;
	}
	.arrowImage {
    display: none;
	}
	.listItems.sharer {
    max-width: 100%;
    width: 100%;
	}
	.listItems.sharer.text-right p br {
    display: none;
	}
	.listItems.sharer p br {
     display: none;
	}
	.listItems.borrower {
  max-width: 100%;
    width: 100%;
	}
	.listItems.borrower.text-right p br {
    display: none;
	}
	.listItems.borrower p br {
     display: none;
	}
	.memberSection img {
    max-width: 45%;
	}
		.memberSectionImage h2 {
    font-size: 19px;
    top: 26px;
    left: 0;
    transform: translate(0);
    width: 100%;
}
	.signUp p {
    font-size: 20px;
    padding: 0 0 0;
    width: 100%;
    text-align: center;
    left: -19px;
    }
}

@media (max-width:480px) {
	.bottomBlock {
		float: left;
	}
	.bottomBlock .btn {
		min-width: 33%;
		float: left;
		margin: 0px;
	}
	.howItWorks {
    padding: 0px 0;
		}

    .borrowSection img {
        float: left;
    }
	.borrowHeading {
    top: 60px;
    left:105px;
    font-size: 20px;
}
}