@model Apeek.Entities.Entities.User
@{
    ViewBag.Title = "User Blocked";
    Layout = "~/Areas/Frontend/Views/Shared/_Layout.cshtml";
}


    <div class="content mainClass">
        <div class="container-full confirm-email">
            <div class="container background-container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Account Blocked</h1>

                        <div class="alerts">
                            <div class="alert-error">
                                Your account has been blocked by admin.
                            </div>
                        </div>

                        Please, contact the admin to unblock your momentarily account.
                                             
                    </div>
                </div>
            </div>
        </div>
    </div>
